<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

</head>
<body>

	<!-- Basic -->
	<div class="ex-form-1 ">
		<div class="container">
			<div class="row">

				<div class="col-xl-6 offset-xl-3">
					<div class="text-box ">
						<h2 class="py-4" style="text-align: center;">Đổi mật khẩu</h2>

						<form action="/changepass" th:object="${passchange}" method="post"
							class="py-3">
							<div class="mb-4 form-floating">
								<input name="currentpass" type="password" th:field="*{currentpass}"
									class="form-control" id="currentpass" placeholder="currentpass"
									required> <label for="currentpass">Mật khẩu cũ</label>
									 <i class="text-danger"
									th:errors="*{currentpass}"></i>
									<div th:if="${currentPasswordError}" class="text-danger" th:text="${currentPasswordError}"></div>
							</div>
					
							<div class="mb-4 form-floating">
								<input name="newpass" type="password" th:field="*{newpass}"
									class="form-control" id="newpass" placeholder="newpass"
									required> <label for="newpass">Mật khẩu mới</label>
									 <i class="text-danger"
									th:errors="*{newpass}"></i>
									
							</div>
							<div class="mb-4 form-floating">
								<input name="confirmpass" type="password"
									th:field="*{confirmpass}" class="form-control" id="confirmpass"
									placeholder="" required> <label for="currentpass">Xác
									nhận mật khẩu mới</label>
									<i class="text-danger"
									th:errors="*{confirmpass}"></i>
									<div th:if="${newPasswordError}" class="text-danger" th:text="${newPasswordError}"></div>
							</div>

							<button style="font-size: 20px" type="submit"
								class="form-control-submit-button">Đổi mật khẩu</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>