<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

</head>
<body>

	<!-- Basic -->
	<div class="ex-form-1 ">
		<div class="container">
			<div class="row">

				<div class="col-xl-6 offset-xl-3">
					<div class="text-box ">
						<h2 class="py-4" style="text-align: center;">Đổi mật khẩu</h2>

						<form action="/changepass" th:object="${passchange}" method="post" class="py-3">						
							<div class="mb-4 form-floating">
								<input name="currentpass" type="text" th:field="*{currentpass}" class="form-control"
									id="currentpass" placeholder="currentpass" required>
								<label for="currentpass">Mật khẩu cũ</label>
							</div>
							<div class="mb-4 form-floating">
								<input name="newpass" type="password" th:field="*{newpass}" class="form-control"
									id="currentpass" placeholder="currentpass" required>
								<label for="currentpass">Mật khẩu mới</label>
							</div>
							<div class="mb-4 form-floating">
								<input name="confirmpass" type="password" th:field="*{confirmpass}" class="form-control"
									id="currentpass" placeholder="currentpass" required>
								<label for="currentpass">Xác nhận mật khẩu mới</label>
							</div>
							
							<button style="font-size: 20px" type="submit"
								class="form-control-submit-button">Đổi mật khẩu</button>
						
						<p class="p-2">
							<a class="blue" href="/forgot">Quên mật khẩu </a>
						</p>								
						<div class="register">
							<p style="text-align: center;padding: 30px">Bạn mới biết đến GreenFarm? <a href="/register" class="link-danger">Đăng ký</a></p>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>