<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/login/login.css">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form th:action="@{/forgot}" th:object="${forgotForm}" method="post">
                    <h2>Forget Password</h2>
                    
                    <div>
                    <span style="text-align:justify; ;">Enter your account email address to receive an email with password reset instructions</span>
                    </div>
                    <div class="inputbox py-5">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="email" type="email" required>
                        <label for="">Email</label>
                    </div>
                 
                    <button>Reset Password</button>
                    <div class="register">
                        <p>Return to login page ? <a href="/login">Login</a></p>
                        <a href="/"><ion-icon class="iconHome" name="home-outline"></ion-icon></a>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>