<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>
	<meta charset="UTF-8" />
	<title>GreenFarm</title>

	<style>
		.alert-danger {
			color: red;
			font-size: 0.8rem;
			margin-top: 0.5rem;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
	<div class="container shop-detail">
		<div class="pt-3">
			<div th:object="${item}" class="row">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#" th:text="#{shopDetail.label.breadcrumbHome}">Trang
								chủ</a></li>
						<li class="breadcrumb-item"><a href="#" th:text="#{shopDetail.label.breadcrumbShop}">Shop</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page" th:text="*{productname}"></li>
					</ol>
				</nav>
				<div class="col-lg-6 border-1">
					<img id="mainImage" th:src="@{|*{image}|}" alt="" style="width: 100%; height: 400px;">

					<div class="tab-content produc_tab_c mt-2">
						<div class="tab-pane fade show active" role="tabpanel">
							<div class="modal_img row justify-content-center">
								<div th:each="productImage: ${item.productimage}"
									class="col-md-2 justify-content-center">
									<a href="" class="d-block">
										<img class="thumbnail-image" th:src="${productImage.imageurl}" alt=""
											style="width: 80px; height: 80px" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 product-details">
					<div class="text-left mb-3 pb-3">
						<h3 th:text="*{productname}" class="text-uppercase mt-3"></h3>
						<h2 class="mb-3" style="font-weight: 300; color: #80bb01; font-size: 28px">
							<!--<span th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')} + 'đ'"
								style="color: #999; text-decoration: line-through"></span>-->
							<span th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
						</h2>
						<p th:text="*{description}" class="product-description mb-3"></p>
						SL: <span th:text="*{quantityavailable}" class="product-description mb-3"></span>
						<div class="cart-button mt-5 mb-5 d-flex">

							<button class="btn border-primary mr-2"
								th:onclick="'addToCartAndDisplayModal(\'' + ${item.productid} + '\')'">
								<i class="fas fa-shopping-cart"></i> <span
									th:text="#{shopDetail.label.addToCart}"></span>
							</button>

							<!-- Modal hiện thông báo thêm thành công -->
							<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog"
								aria-labelledby="addToCartModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-body text-center">
											<img style="width: 50px;"
												src="https://images.fpt.shop/unsafe/filters:quality(5)/fptshop.com.vn/uploads/images/tin-tuc/148929/Originals/tich_xanh_titktok_2.png">
											<!-- You can customize the form or message content here -->
											<p>Sản phẩm đã được thêm vào giỏ hàng</p>
										</div>
									</div>
								</div>
							</div>

							<button class="btn btn-primary"
								th:onclick="'addToCartAndRedirect(\'' + ${item.productid} + '\')'">
								Mua ngay
							</button>
						</div>
						<div class="">
							<h5>
								<span th:text="#{shopDetail.label.category}">CATEGORIES: </span> <span><a
										th:text="*{category.categoryname}" /></span>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="wapper">
			<div class=" mb-3 pb-3">
				<h1 th:text="#{shopDetail.label.relatedProduct}">SẢN PHẨM LIÊN QUAN</h1>
			</div>
			<div class="row slider" th:object="${item}">
				<div class="col-md-12 col-sm-12 col-xs-12 slide" th:each="p : *{category.products}">
					<div class="wap-items-ss brbox">
						<a th:href="@{|/product/detail/${p.productid}|}" class="wap-ss-img"> <img
								th:src="@{|${p.image}|}" alt="Product Image" style="width: 270px;">
						</a>
						<div class="textleft">
							<a th:href="@{|/product/detail/${p.productid}|}" th:text="${p.productname}"
								style="color: black; text-decoration: none;"></a>
							<div>
								<b th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"></b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class=" mb-3">
			<h1 th:text="#{shopDetail.label.productReviews}">ĐÁNH GIÁ SẢN PHẨM</h1>
		</div>
		<div class="row ">
			<div class="col-12 text-center">
				<div class="card">
					<div class="row justify-content-left d-flex">
						<div class="col-md-6 d-flex flex-column">
							<div class="rating-box">
								<h1 class="pt-4">4.0</h1>
								<p class="">out of 5</p>
							</div>
							<div>
								<span class="fa fa-star star-active mx-1"></span> <span
									class="fa fa-star star-active mx-1"></span> <span
									class="fa fa-star star-active mx-1"></span> <span
									class="fa fa-star star-active mx-1"></span> <span
									class="fa fa-star star-inactive mx-1"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="rating-bar0 justify-content-center">
								<table class="text-left mx-auto">
									<tr>
										<td class="rating-label">5</td>
										<td class="rating-bar">
											<div class="bar-container">
												<div class="bar-5"></div>
											</div>
										</td>
										<td class="text-right">123</td>
									</tr>
									<tr>
										<td class="rating-label">4</td>
										<td class="rating-bar">
											<div class="bar-container">
												<div class="bar-4"></div>
											</div>
										</td>
										<td class="text-right">23</td>
									</tr>
									<tr>
										<td class="rating-label">3</td>
										<td class="rating-bar">
											<div class="bar-container">
												<div class="bar-3"></div>
											</div>
										</td>
										<td class="text-right">10</td>
									</tr>
									<tr>
										<td class="rating-label">2</td>
										<td class="rating-bar">
											<div class="bar-container">
												<div class="bar-2"></div>
											</div>
										</td>
										<td class="text-right">3</td>
									</tr>
									<tr>
										<td class="rating-label">1</td>
										<td class="rating-bar">
											<div class="bar-container">
												<div class="bar-1"></div>
											</div>
										</td>
										<td class="text-right">0</td>
									</tr>
								</table>
							</div>
						</div>
					</div>


					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
						th:text="#{shopDetail.label.reviews}">
						Đánh giá giúp chúng tôi !</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="card">
										<div class="modal-header">
											<h1 class="modal-title fs-6 text-center" id="exampleModalLabel"
												th:text="#{shopDetail.label.thanhks}">
												GreenFarm xin được cám ơn quý
												khách!</h1>
										</div>
										<div class="card-body">
											<form th:action="@{'/product/detail/' + ${productid}}"
												th:object="${reviewinsert}" method="post">
												<fieldset style="font-size: 40px;" class="rating" th:field="*{rating}">
													<input type="radio" id="star5" name="rating" value="5" /><label
														class="full" for="star5"></label>
													<input type="radio" id="star4" name="rating" value="4" /><label
														class="full" for="star4"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label
														class="full" for="star3"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label
														class="full" for="star2"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label
														class="full" for="star1"></label>
												</fieldset>


												<div class="form-outline">
													<textarea th:field="*{content}" class="form-control"
														id="textAreaExample" rows="4"></textarea>

												</div>
												<div class="d-flex justify-content-between mt-3">
													<button type="submit" class="btn btn-danger"
														th:text="#{shopDetail.label.sendReviews}">
														Gửi đánh giá <i id="review-button"
															class="fas fa-long-arrow-alt-right ms-1"></i>
													</button>
													<span class="alert-danger">

													</span>
												</div>
											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="modal" class="modal" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:text="#{shopDetail.label.reviews}">Đánh giá</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p id="modal-message"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
										th:text="#{shopDetail.label.close}">Đóng</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div id="review-section" class="col-12">
				<div th:each="review : ${review}" class="cardrating">
					<div class="row ">
						<div class="col-md-6">
							<img style="width: 50px; height: 50px" class="profile-pic"
								th:src="@{|/assetsAdmin/images/${review.user.image}|}" alt="User Image"
								th:text="${review.user.email}" />

						</div>

						<div class="col-md-6" th:if="${#authorization.expression('isAuthenticated()')}">
							<button style="float: right;" class="btn btn-danger"
								th:if="${#authorization.expression(review.user.email == #authentication.principal.username)}">
								<a th:href="@{'/product/detail/' + ${productid} + '/delete/' + ${review.reviewid}}"
									th:text="#{shopDetail.label.delete}">Xóa</a>
							</button>
						</div>

						<div class=" d-flex flex-column">
							<div>
								<span class="fa fa-star star-active"
									th:each="i : ${#numbers.sequence(1, review.rating)}"></span> <span
									class="fa fa-star-half star-active" th:if="${review.rating % 1 != 0}"></span>
								<span th:if="${review.rating != 5}">
									<span class="fa fa-star star-inactive"
										th:each="i : ${#numbers.sequence(review.rating.floatValue() +1,5)}">
									</span>
								</span>

							</div>
							<div>
								<span th:text="${review.product.category.categoryname}"></span>
								| <span th:text="${review.datepost}" class=""></span>
							</div>

						</div>
					</div>
					<div class="row text-left">
						<p style="font-family: Arial, Helvetica, sans-serif" class="content"
							th:text="${review.content}">
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$('form').submit(function (event) {
				// Ngăn chặn chuyển hướng trình duyệt khi gửi form
				event.preventDefault();
				// Lấy dữ liệu từ form
				var formData = $(this).serialize();

				// Gửi yêu cầu Ajax để lưu đánh giá
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					data: formData,
					success: function (response) {
						// Phân tích chuỗi JSON và trích xuất thông báo thành công
						var responseJSON = JSON.parse(response);
						var successMessage = responseJSON.successMessage;
						var errorMessage = responseJSON.errorMessage;
						$('.alert').hide();
						if (errorMessage) {
							// Hiển thị thông báo lỗi bên dưới form
							var errorMessageText = errorMessage.split('.')[0];
							$('.alert-danger').text(errorMessageText).show();
						} else {
							// Hiển thị thông báo thành công trong modal
							$('#modal-message').text(successMessage);
							$('#exampleModal').modal('hide');
							$('#modal').modal('show');
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						var responseJSON = JSON.parse(jqXHR.responseText);
						var errorMessage = responseJSON.errorMessage;
						if (errorMessage) {
							var errorMessageText = errorMessage.split('.')[0]; // Lấy phần đầu của errorMessage trước dấu chấm
							$('.alert-danger').text(errorMessageText).show();
						} else {
							$('.alert-danger').text(textStatus + ' : ' + errorThrown).show();
						}
					}
				});
			});
			function resetRatingForm() {
				$('#rating-form input[type="radio"]').prop('checked', false);
				$('#rating-form textarea').val('');
			}
			$('#ratingModal').on('hidden.bs.modal', function () {
				resetRatingForm();
			});
			$('#exampleModal').on('hidden.bs.modal', function (e) {
				$(this).remove();
			});
			$('#modal').on('hidden.bs.modal', function (event) {
				// Chuyển hướng sang trang mới
				location.reload();
			});
		});
	</script>

	<script>
		$(document).ready(function () {
			$(".thumbnail-image").on("click", function (e) {
				e.preventDefault();

				// Xóa lớp "selected" từ tất cả các hình ảnh
				$(".thumbnail-image").removeClass("selected");

				// Thêm lớp "selected" cho hình ảnh được chọn
				$(this).addClass("selected");

				// Lấy đường dẫn hình ảnh từ thuộc tính data-imageurl
				var newImageUrl = $(this).attr("src");

				// Thay đổi thuộc tính src của hình chính
				$("#mainImage").attr("src", newImageUrl);
			});
		});
	</script>
	<script th:inline="javascript">
		function addToCartAndRedirect(productId) {
			addToCart(productId);

			// Redirect to the "/cart" page
			window.location.href = '/cart';
		};
		function addToCartAndDisplayModal(productId) {
			// Call your existing addToCart function (assuming it's already defined)
			addToCart(productId);

			// Display the modal
			$('#addToCartModal').modal('show');

			// Automatically close the modal after 2 seconds (adjust as needed)
			setTimeout(function () {
				$('#addToCartModal').modal('hide');
			}, 2000);
		}
	</script>

</body>

</html>