<!DOCTYPE html>
<html
  xmlns="http://www.thymeleaf.org"
  th:replace="~{/admin/layout/layout::dynamic(~{::body})}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <!--
            Content body start
        *-->
    <div class="content-body">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
              <div class="card-body">
                <h3 class="card-title text-white">Products Sold</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">4565</h2>
                  <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"
                  ><i class="fa fa-shopping-cart"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
              <div class="card-body">
                <h3 class="card-title text-white">Net Profit</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">$ 8541</h2>
                  <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"
                  ><i class="fa fa-money"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
              <div class="card-body">
                <h3 class="card-title text-white">New Customers</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">4565</h2>
                  <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"
                  ><i class="fa fa-users"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4">
              <div class="card-body">
                <h3 class="card-title text-white">Customer Satisfaction</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">99%</h2>
                  <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"
                  ><i class="fa fa-heart"></i
                ></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Line Chart</h4>
                    <div id="flotLine1" class="flot-chart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <h3 class="text-center pt-3">TOUR</h3>
              <div class="card-body">
                <div class="active-member">
                  <div class="table-responsive">
                    <table class="table table-xs mb-0 zero-configuration">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Name</th>
                          <th>Child</th>
                          <th>Adults</th>
                          <th>Total</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nguyễn Xuân Tú</td>
                          <td>
                            Tour 1 ngày: Tát mương bắt cá Mỹ Tho - Bến Tre
                          </td>
                          <td>500.000 VNĐ</td>
                          <td>780.000 VNĐ</td>
                          <td>1.280.000 VNĐ</td>
                          <td>10/10/2023 00:00 AM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <h3 class="text-center pt-3">VEGETABLE</h3>
              <div class="card-body">
                <div class="active-member">
                  <div class="table-responsive">
                    <table class="table table-xs mb-0 zero-configuration">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th>Payment Method</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nguyễn Xuân Tú</td>
                          <td>Cà rốt</td>
                          <td>10.000 VNĐ</td>
                          <td>10</td>
                          <td>100.000 VNĐ</td>
                          <td>Paypal</td>
                          <td>10/10/2023 00:00 AM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->
    </div>
    <!--
            Content body end
        *-->
  </body>
</html>
