
<div class="row page-titles mx-0">
	<div class="col p-md-0">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Shop</a></li>
		</ol>
	</div>
</div>
<!-- row -->

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Data Table</h4>
					<div class="table-responsive">
						<table
							class="table table-striped table-bordered zero-configuration t">
							<thead>
								<tr>
									<th>NO.</th>
									<th>IMAGE</th>
									<th>NAME</th>
									<th>PRICE</th>
									<th>DESCRIPTION</th>
									<th>QUANTITY</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pager.items">
									<td>{{$index + 1}}</td>	
									<td><img ng-src="{{item.image}}" alt="Product Image"
										style="width: 80px;"></td>
									<td>{{item.productname}}</td>
									<td>{{item.price}}</td>
									<td style="width: 400px;">{{item.description}}</td>
									<td>{{item.quantityavailable}}</td>
									<td class="text-center"><a ng-click="edit(item)"><i
											class="bi bi-pencil-square p-2"></i> </a> <a
										ng-click="delete(item)"><i class="bi bi-trash3-fill p-2"></i></a>

									</td>
								</tr>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer text-right">
						<button ng-click="pager.first()" class="btn btn-success">
							<b class="glyphicon glyphicon-hand-up"></b> Firts
						</button>
						<button ng-click="pager.prev()" class="btn btn-success">
							<b class="glyphicon glyphicon-hand-left"></b> Prev
						</button>
						<button ng-click="pager.next()" class="btn btn-success">
							<b class="glyphicon glyphicon-hand-right"></b> Next
						</button>
						<button ng-click="pager.last()" class="btn btn-success">
							<b class="glyphicon glyphicon-hand-down"></b> Last
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Create / Update</h4>
					<div class="basic-form">
						<form class="row info">
							<div class="form-group col-sm-6">
								<input name="productname" ng-model="form.productname"
									class="form-control input-default" placeholder="Name">
							</div>
							<div class="form-group col-sm-6">
								<input type="number" ng-model="form.price"
									class="form-control input-default mr-2" placeholder="Price">
							</div>
							<div class="form-group col-sm-6">
								<input type="number" ng-model="form.quantityavailable"
									class="form-control input-default " placeholder="Quantity">
							</div>

							<div class="form-group col-sm-6">
								<select ng-model="form.category.categoryid" class="w-100"
									style="height: 45px;">
									<option ng-repeat="c in cates" ng-value="c.categoryid">{{c.categoryname}}</option>
								</select>
							</div>

							<!-- <div class="form-group col-sm-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Upload</span>
							</div>
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="image" onchange="angular.element(this).scope().imageChanged(this.files)"> 
								<label
									class="custom-file-label">Choose file</label>
							</div>
						</div>
						<label for="image"> <img alt="Hình Ảnh" class="img-fluid"
						ng-src="{{form.image}}"
						style="max-width: 100%; height: 400px">
						</label>
					</div> -->
							<div class="form-group col-sm-6">
								<input name="image" ng-model="form.image"
									class="form-control input-default" placeholder="Href">
							</div>
							<div class="form-group col-sm-6">
								<input name="description" ng-model="form.description"
									class="form-control input-default" placeholder="Description">
							</div>
						</form>
						<div class="panel-footer text-right">
							<button id="btn-create" ng-click="create()"
								class="btn btn-success">Add</button>
							<button id="btn-update" disabled="disabled" ng-click="update()"
								class="btn btn-success">
								<b class="glyphicon glyphicon-save"></b> Update
							</button>
							<button id="btn-delete" disabled="disabled"
								ng-click="delete(form)" class="btn btn-success">
								<b class="glyphicon glyphicon-trash"></b> Del
							</button>
							<button id="btn-reset" ng-click="reset()" class="btn btn-success">
								<b class="glyphicon glyphicon-refresh"></b> New
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card ">
				<h3 class="text-center p-4">DESCRIPTION</h3>
				<div class="card-body">
					<div class="click2edit m-b-40">Click on Edite button and
						change the text then save it.</div>
					<button id="edit" class="btn btn-info1 btn-rounded"
						onclick="edit()" type="button">Edit</button>
					<button id="save" class="btn btn-success btn-rounded"
						onclick="save()" type="button">Save</button>
				</div>
			</div>
		</div>

		<div class="col-12 text-center">
			<button class="btn btn-danger px-5">Create / Update</button>
		</div>
	</div>
</div>



