<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h2 class="card">Danh sách sản phẩm</h2>
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<div class="input-group-prepend">
								<span
									class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
									id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
							</div>
							<input type="search" class="form-control"
								id="search" ng-model="searchText" ng-change="loadData()" placeholder="Nhập từ khóa">
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-success"
								ng-click="editthemsp()" data-toggle="modal"
								data-target="#exampleModa2">
								<i class="fa fa-plus-square"></i> Thêm sản phẩm
							</button>
							<button type="button" class="btn btn-success"
								ng-click="exportExcel()">
								<i class="fa fa-file-excel-o"></i> Excel
							</button>

							<button type="button" class="btn btn-success"
								ng-click="exportPdf()">

								<i class="fa fa-file-pdf-o"></i> PDF
							</button>
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#Restore">
								Khôi phục</i>
							</button>


						</div>
					</div>
					<div class="table-responsive">
						<table
							class="table table-striped table-bordered zero-configuration t">
							<thead>
								<tr>
									<th>STT</th>
									<th>Hình ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Giá</th>
									<th>Mô tả</th>
									<th>Số lượng</th>
									<th>Xem</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pager.items">
									<td>{{$index + 1}}</td>
									<td><img ng-src="{{item.image}}" alt="Product Image"
										style="width: 80px;"></td>
									<td>{{item.productname}}</td>
									<td>{{formatPrice(item.price)}}</td>
									<td style="width: 400px;">{{item.description}}</td>
									<td>{{item.quantityavailable}}</td>
									<td><a type="button" ng-click="edit(item)"
										data-toggle="modal" data-target="#exampleModal"> <i
											class="bi bi-pencil-square"></i>
									</a></td>
									<td><a ng-click="delete(item)"><i
											class="bi bi-trash3-fill p-2"></i></a></td>
								</tr>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer text-right">
						<span class="col-md-6"
							style="text-align: right; font-weight: bold; color: black; font-size: 15px">{{pager.page
							+ 1}} / {{pager.count}} </span>
						<button ng-click="pager.first()" class="btn btn-success">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager.prev()" class="btn btn-success">
							<i class="fas fa-angle-left"></i>
						</button>
						<button ng-click="pager.next()" class="btn btn-success">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager.last()" class="btn btn-success">
							<i class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl custom-modal">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title " id="exampleModalLabel">Cập nhật sản
							phẩm</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<div class="basic-form">
										<form class="row" name="frmvalidateupdate"
											ng-submit="submitForm1()" novalidate>
											<div class="col-md-4">
												<label for="image"> <img ng-src="{{form.image}}"
													style="max-width: 100%; height: 300px">
												</label>

											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="form-group col-sm-6">
														<label>Tên sản phẩm: </label> <input name="productname"
															ng-model="form.productname" ng-minlength="5"
															ng-maxlength="1000" class="form-control input-default"
															placeholder="VD : Củ cải..." required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.productname.$error.required"
															style="color: red;">Vui lòng nhập tên sản phẩm !</label>
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.productname.$error.minlength"
															style="color: red;">Tên sản phẩm phải có ít nhất
															5 ký tự!</label><label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.productname.$error.maxlength"
															style="color: red;">Tên sản phẩm chỉ tối đa 1000
															ký tự!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Giá sản phẩm: </label> <input type="number"
															ng-model="form.price" name="price" ng-min="0"
															class="form-control input-currency mr-2"
															placeholder="VD : 100" required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.price.$error.required"
															style="color: red;">Vui lòng nhập giá sản phẩm !</label>
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.price.$error.min"
															style="color: red;">Gía sản phẩm không được nhỏ
															hơn 0!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>số lượng: </label> <input type="number"
															ng-model="form.quantityavailable"
															name="quantityavailable" placeholder="VD : 20"
															class="form-control input-default " required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.quantityavailable.$error.required"
															style="color: red;">Vui lòng nhập số lượng !</label>
													</div>

													<div class="form-group col-sm-6">
														<label>Danh mục sản phẩm: </label> <select
															ng-model="form.category.categoryid" class="w-100"
															name="categoryid" required style="height: 45px;">
															<option ng-repeat="c in cates" ng-value="c.categoryid">
																{{c.categoryname}}</option>
														</select> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.categoryid.$error.required"
															style="color: red;">Vui lòng nhập danh mục !</label>

													</div>

													<div class="form-group col-sm-12">
														<label>Mô tả: </label>
														<textarea name="description" ng-model="form.description"
															ng-minlength="5" ng-maxlength="1000"
															class="form-control input-default" style="height: 120px;"
															placeholder="VD : Củ cải gồm..." required></textarea>
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.description.$error.required"
															style="color: red;">Vui lòng nhập mô tả !</label> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.description.$error.minlength"
															style="color: red;">Mô tả phải có ít nhất 5 ký
															tự!</label> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.description.$error.maxlength"
															style="color: red;">Mô tả chỉ tối đa 1000 ký tự!</label>
													</div>
													<div class="form-group col-sm-12">
														<div class="form-group ">
															<div>Hình ảnh:</div>
															<input type="file" class="form-control" id="image"
																onchange="angular.element(this).scope().imageChanged(event)"
																accept="image/*">
														</div>
													</div>
													<div class="form-group col-sm-12">
														<div>Các hình ảnh khác:</div>
														<div id="edit-image-preview-container"></div>
														<input type="file" class="form-control" id="productimage"
															onchange="angular.element(this).scope().imagesChanged(event)"
															accept="image/*" multiple>
													</div>
												</div>

											</div>
											<div class="panel-footer text-right">
												<button type="submit" name="submit"
													ng-click="frmvalidateupdate.$valid && update()"
													class="btn btn-success">Cập nhật sản phẩm</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModa2" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl custom-modal">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title " id="exampleModalLabel">Thêm mới sản
							phẩm</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<div class="basic-form">
										<form class="row" name="frmvalidate" ng-submit="submitForm()"
											enctype="multipart/form-data" novalidate>
											<div class="col-md-4">
												<label for="image"> <img ng-src="{{form.image}}"
													style="max-width: 100%; height: 300px">
												</label>
											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="form-group col-sm-6">
														<label>Tên sản phẩm: </label> <input name="productname"
															ng-model="form.productname" ng-minlength="5"
															ng-maxlength="1000" class="form-control input-default"
															placeholder="VD : Củ cải..." required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.productname.$error.required"
															style="color: red;">Vui lòng nhập tên sản phẩm !</label>
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.productname.$error.minlength"
															style="color: red;">Tên sản phẩm phải có ít nhất
															5 ký tự!</label><label
															ng-show="frmvalidate.$submitted && frmvalidate.productname.$error.maxlength"
															style="color: red;">Tên sản phẩm chỉ tối đa 1000
															ký tự!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Giá sản phẩm: </label> <input type="number"
															ng-model="form.price" name="price" ng-min="0"
															class="form-control input-currency mr-2"
															placeholder="VD : 100" required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.price.$error.required"
															style="color: red;">Vui lòng nhập giá sản phẩm !</label>
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.price.$error.min"
															style="color: red;">Gía sản phẩm không được nhỏ
															hơn 0!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>số lượng: </label> <input type="number"
															ng-model="form.quantityavailable"
															name="quantityavailable" placeholder="VD : 20"
															class="form-control input-default " required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.quantityavailable.$error.required"
															style="color: red;">Vui lòng nhập số lượng !</label>
													</div>

													<div class="form-group col-sm-6">
														<label>Danh mục sản phẩm: </label> <select
															ng-model="form.category.categoryid" class="w-100"
															name="categoryid" required style="height: 45px;">
															<option ng-repeat="c in cates" ng-value="c.categoryid">
																{{c.categoryname}}</option>
														</select> <label
															ng-show="frmvalidate.$submitted && frmvalidate.categoryid.$error.required"
															style="color: red;">Vui lòng nhập danh mục !</label>

													</div>
													<div class="form-group col-sm-12">
														<label>Mô tả: </label>
														<textarea name="description" ng-model="form.description"
															ng-minlength="5" ng-maxlength="1000"
															placeholder="VD : Củ cải gồm..."
															class="form-control input-default" style="height: 120px;"
															required></textarea>
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.description.$error.required"
															style="color: red;">Vui lòng nhập mô tả !</label> <label
															ng-show="frmvalidate.$submitted && frmvalidate.description.$error.minlength"
															style="color: red;">Mô tả phải có ít nhất 5 ký
															tự!</label> <label
															ng-show="frmvalidate.$submitted && frmvalidate.description.$error.maxlength"
															style="color: red;">Mô tả chỉ tối đa 1000 ký tự!</label>
													</div>
													<div class="form-group col-sm-12">
														<div class="form-group">
															<div>Hình ảnh:</div>
															<input type="file" class="form-control" id="image"
																onchange="angular.element(this).scope().imageChanged(event)"
																accept="image/*">
														</div>
													</div>
													<div class="form-group col-sm-12">
														<div>Các hình ảnh khác:</div>
														<div id="image-preview-container"></div>
														<input type="file" class="form-control" id="productimage"
															onchange="angular.element(this).scope().imagesChanged(event)"
															accept="image/*" multiple>
													</div>
												</div>
											</div>
											<div class="panel-footer text-right">
												<button type="submit" name="submit"
													ng-click="frmvalidate.$valid && create()"
													class="btn btn-success">Thêm sản phẩm</button>
												<button type="reset" class="btn btn-success">
													<b class="glyphicon glyphicon-refresh"></b> Làm mới
												</button>
											</div>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="Restore" tabindex="-1"
		aria-labelledby="Restore" aria-hidden="true">
		<div class="modal-dialog modal-xl custom-modal">
			<div class="modal-content">

				<div class="modal-body">
					<div class="table-responsive " ng-if="deletedItems.length > 0">
						<table
							class="table table-striped table-bordered zero-configuration t">
							<thead>
								<tr>
									<th>STT</th>
									<th>Hình ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Giá</th>
									<th>Mô tả</th>
									<th>Số lượng</th>
									<th>Khôi phục</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in deletedItems">
									<td>{{$index + 1}}</td>
									<td><img ng-src="{{item.image}}" alt="Product Image"
										style="width: 80px; height: 80px"></td>
									<td>{{item.productname}}</td>
									<td>{{item.price}}</td>
									<td>{{item.description}}</td>
									<td>{{item.quantityavailable}}</td>
									<td><a ng-click="restore(item.productid)"><i
											class="bi bi-bootstrap-reboot"></i></a></td>
								</tr>

							</tbody>
						</table>
					</div>
					<div ng-if="deletedItems.length === 0">
						<div class="login-form-bg h-100">
							<div class="container h-100">
								<div class="row justify-content-center h-100">
									<div class="col-xl-6">
										<div class="error-content">
											<div class="card mb-0">
												<div class="card-body text-center">
													<a href="#"> <img style="width: 300px; padding: 15px;"
														src="/assets/images/logo.png" alt=""></a>
													<h2 class="mt-4">
														<i class="fa fa-thumbs-down text-danger"></i> Yêu cầu
														không hợp lệ
													</h2>
													<h4>Không có dữ liệu sản phẩm nào cần khôi phục !</h4>
													<form class="mt-5 mb-5">

														<div class="text-center mb-4 mt-4">
															<button type="button" class="btn btn-success"
																data-dismiss="modal">Tôi biết rồi</button>
														</div>
													</form>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>