<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>GreenFarm</title>

</head>

<body>
	<div class="container-fluid">
		<div class="pt-3">
			<div class="text-center mb-3 pb-3">
				<h1>List Tour</h1>
			</div>
			<div class="row">
				<div th:each="p:${items}" class="col-lg-4 col-md-6 mb-4">
					<div class="package-item bg-white mb-2">
						<a th:href="@{|/tour/detail/${p.tourid}|}"> <img
							style="height: 300px; width: 100%" class="img-fluid"
							th:src="@{|${p.image}|}" alt="" />
						</a>
						<div class="p-4">
							<div class="d-flex justify-content-between mb-3">
								<small class="m-0"> <i
									class="fa fa-calendar-alt text-primary mr-2"></i>Liên Hệ
								</small>
								<h6 class="m-0">
									<i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small>
								</h6>

							</div>
							<a th:utext="${p.Tourname}" class="h5 text-decoration-none"
								href="/tour-detail"></a>
							<div class="border-top mt-4 pt-4">
								<div class="d-flex justify-content-between">
									<h5
										th:text="${#numbers.formatDecimal(p.pricings.Adultprice, 0, 'COMMA', 0, 'POINT')} + 'đ'"
										class="m-0 p-1"></h5>
									<button class="btn btn-primary">Đặt tour</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
