<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>GreenFarm</title>
</head>

<body>
	<div class="container">
		<div class="pt-3">
			<div class="text-center mb-3 pb-3">
				<h1>List Tour</h1>
			</div>
			<div class="tab-content py-5">
				<div role="tabpanel" class="tab-pane active" id="plan">
					<div class="block_search">
						<form action="/tour" method="get">
							<input type="hidden" name="language" value="vi"> <input type="hidden" name="nv"
								value="tour"> <input type="hidden" name="op" value="search">

							<div class="search_panel">
								<div class="row">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Tìm kiếm" name="search" id="searchInput">
										<div class="input-group-append">
											<button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
										</div>
									</div>
									<div class="col-xs-24 col-sm-8 col-md-3">
										<select name="price_spread" class="form-control" id="priceFilter">
											<option value="">--- Khoảng giá ---</option>
											<option value="100000-200000">100 - 200 VNĐ</option>
											<option value="200000-300000">200 - 300 VNĐ</option>
											<option value="300000-400000">300 - 400 VNĐ</option>
											<option value="400000-500000">400 - 500 VNĐ</option>
											<option value="500000-11000000">500 - Max VNĐ</option>
										</select>
									</div>
									<div class="col-xs-24 col-sm-8 col-md-1 ">
										<button style="width:70px" type="submit" class="btn btn-success"><i
												class="fa fa-list"></i>Lọc</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row" id="tourResults">
				<div th:if="${tourDTOs != null}">
					<div class="row">
						<div th:each="p:${tourDTOs}" class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<a th:href="@{|/tour/detail/${p.tourid}|}"> <img style="height: 350px; width: 100%"
										class="img-fluid" th:src="@{|${p.image}|}" alt="" />
								</a>
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"> <i class="fa fa-calendar-alt text-primary mr-2"></i>Liên Hệ
										</small>
										<h6 class="m-0">
											<i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small>
										</h6>

									</div>
									<a th:utext="${p.Tourname}" class="h5 text-decoration-none" href="/tour-detail"></a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h5 th:text="${#numbers.formatDecimal(p.pricings.Adultprice, 0, 'COMMA', 0, 'POINT')} + 'đ'"
												class="m-0 p-1"></h5>
											<button class="btn btn-primary">Đặt tour</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:unless="${tourDTOs != null}">
					<div class="row">
						<div th:each="p:${items}" class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<a th:href="@{|/tour/detail/${p.tourid}|}"> <img style="height: 350px; width: 100%"
										class="img-fluid" th:src="@{|${p.image}|}" alt="" />
								</a>
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"> <i class="fa fa-calendar-alt text-primary mr-2"></i>Liên Hệ
										</small>
										<h6 class="m-0">
											<i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small>
										</h6>

									</div>
									<a th:utext="${p.Tourname}" class="h5 text-decoration-none" href="/tour-detail"></a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h5 th:text="${#numbers.formatDecimal(p.pricings.Adultprice, 0, 'COMMA', 0, 'POINT')} + 'đ'"
												class="m-0 p-1"></h5>
											<button class="btn btn-primary">Đặt tour</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$("#priceFilter").on("change", function () {
				// Lấy giá trị đã chọn trong dropdown
				var selectedValue = $(this).val();

				// Chuyển hướng đến trang "tour" với giá trị đã chọn trong URL
				window.location.href = "/tour?price_spread=" + selectedValue;
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			// Lắng nghe sự kiện khi người dùng nhập từ khóa vào input search
			$('#searchInput').on('input', function () {
				var searchTerm = $(this).val(); // Lấy từ khóa tìm kiếm đã nhập

				// Gửi request tới server để lấy kết quả tìm kiếm
				$.ajax({
					url: '/tour', // URL của action xử lý tìm kiếm trên server
					method: 'get',
					data: {search: searchTerm},
					success: function (data) {
						$('#tourResults').html(data);
					}
				});
			});
		});
	</script>
</body>

</html>