<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(view)">
  <head>
    <meta charset="UTF-8" />
    <title>Admin GreenFarm</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/admin/images/favicon.png"
    />
    <!-- Pignose Calender -->
    <link
      href="../assets/admin/plugins/pg-calendar/css/pignose.calendar.min.css"
      rel="stylesheet"
    />
    <!-- Chartist -->
    <link
      rel="stylesheet"
      href="../assets/admin/plugins/chartist/css/chartist.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css"
    />
    <!-- Custom Stylesheet -->
    <link href="../assets/admin/css/style.css" rel="stylesheet" />
    <link
      href="../assets/admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Pignose Calender -->
    <link href="../assets/admin/plugins/summernote/dist/summernote.css" rel="stylesheet">
    <link href="../assets/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../assets/admin/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../assets/admin/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../assets/admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../assets/admin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../assets/admin/plugins/summernote/dist/summernote.css" rel="stylesheet">

  </head>

  <body>
    <div th:fragment="navbar" class="header_area">
      <div id="main-wrapper">
        <div class="pos_page_inner">
          <nav th:insert="~{/admin/layout/_header.html::header}"></nav>
          <div th:insert="~{/admin/layout/_menu.html::menu}"></div>
          <main th:replace="${view}"></main>
        </div>

        <div th:insert="~{/admin/layout/_footer.html::footer}"></div>
      </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <script src="../assets/admin/plugins/common/common.min.js"></script>
    <script src="../assets/admin/js/custom.min.js"></script>
    <script src="../assets/admin/js/settings.js"></script>
    <script src="../assets/admin/js/gleek.js"></script>
    <script src="../assets/admin/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="../assets/admin/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="../assets/admin/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="../assets/admin/plugins/d3v3/index.js"></script>
    <script src="../assets/admin/plugins/topojson/topojson.min.js"></script>
    <script src="../assets/admin/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="../assets/admin/plugins/raphael/raphael.min.js"></script>
    <script src="../assets/admin/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="../assets/admin/plugins/moment/moment.min.js"></script>
    <script src="../assets/admin/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="../assets/admin/plugins/chartist/js/chartist.min.js"></script>
    <script src="../assets/admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="../assets/admin/js/dashboard/dashboard-1.js"></script>

    <script src="../assets/admin/plugins/flot/js/jquery.flot.min.js"></script>
    <script src="../assets/admin/plugins/flot/js/jquery.flot.pie.js"></script>
    <script src="../assets/admin/plugins/flot/js/jquery.flot.resize.js"></script>
    <script src="../assets/admin/plugins/flot/js/jquery.flot.spline.js"></script>

    <script src="../assets/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="../assets/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <!-- Date Picker Plugin JavaScript -->
    <script src="../assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../assets/admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../assets/admin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../assets/admin/plugins/summernote/dist/summernote.min.js"></script>
    <script src="../assets/admin/plugins/summernote/js/summernote.min.js"></script>
    <script src="../assets/admin/plugins/summernote/dist/summernote-init.js"></script>
    <script src="../assets/admin/plugins/moment/moment.js"></script>
    <script src="../assets/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="../assets/admin/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="../assets/admin/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="../assets/admin/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="../assets/admin/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <script src="../assets/admin/js/plugins-init/form-pickers-init.js"></script>
    <script>
      $(function () {
        var newCust = [
          [4, 1],
          [5, 3],
          [6, 6],
          [7, 5],
          [8, 7],
          [9, 8],
          [10, 10],
        ];
        var retCust = [
          [4, 1],
          [5, 2],
          [6, 5],
          [7, 3],
          [8, 5],
          [9, 6],
          [10, 9],
        ];

        var plot = $.plot(
          $("#flotLine1"),
          [
            {
              data: newCust,
              label: "New Customer",
              color: "#ff5e5e",
            },
            {
              data: retCust,
              label: "Returning Customer",
              color: "#7571F9",
            },
          ],
          {
            series: {
              lines: {
                show: true,
                lineWidth: 1,
              },
              shadowSize: 0,
            },
            points: {
              show: false,
            },
            legend: {
              noColumns: 1,
              position: "nw",
            },
            grid: {
              hoverable: true,
              clickable: true,
              borderColor: "#ddd",
              borderWidth: 0,
              labelMargin: 5,
              backgroundColor: "transparent",
            },
            yaxis: {
              min: 0,
              max: 15,
              color: "transparent",
              font: {
                size: 10,
                color: "#999",
              },
            },
            xaxis: {
              color: "transparent",
              font: {
                size: 10,
                color: "#999",
              },
            },
          }
        );
      });
    </script>
    <script>
      (function () {
        $("#cart").on("click", function () {
          $("#mini-cart").fadeToggle("fast");
        });
      })();
    </script>
  </body>
</html>
