<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8" />
    <title>GreenFarm</title>
</head>
<body>
    <div th:fragment="header" class="header_area">
        <!-- Topbar Start -->
        <div class="container-fluid bg-light pt-3 d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                        <div class="d-inline-flex align-items-center">
                            <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                            <p class="text-body px-3">|</p>
                            <p><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <div class="d-inline-flex align-items-center">
                            <a class="text-primary px-3" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class a="text-primary px-3" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-primary px-3" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-primary px-3" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-primary pl-3" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="text-primary pl-3" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="badge"><c:out value="${sessionScope.myCartNum}" /></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="/" class="navbar-brand">
                        <h2 class="m-0 text-primary">
                            GREEN<span class="text-dark">FARM</span>
                        </h2>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/product/shop" class="nav-item nav-link">Shop</a>
                            <a href="/tour-detail" class="nav-item nav-link">Tour</a>
                            <a href="about.html" class="nav-item nav-link">About</a>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                            <sec:authorize access="isAnonymous()">
                                <a class="nav-item nav-link data-toggle" href="/login">Login</a>
                            </sec:authorize>
                            <sec:authorize access="isAuthenticated()">
                                <a href="/profile" class="rounded-circle">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" style="padding: 20px; width: 85px;" alt="Avatar">
                                </a>
                            </sec:authorize>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
        <!-- Mini Cart -->
        <div class="container cart-container" id="mini-cart">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i
                    ><span class="badge">3</span>
                    <div class="shopping-cart-total">
                        <span class="lighter-text">Total:</span>
                        <span class="main-color-text"><c:out value="${sessionScope.myCartTotal}" /></span>
                    </div>
                </div>
                <!--end shopping-cart-header -->
                <ul class="shopping-cart-items">
                    <c:forEach var="cartItem" items="${sessionScope.cartItems}">
                        <li class="clearfix">
                            <img
                                src="<c:out value='${cartItem.product.imageUrl}' />"
                                alt="<c:out value='${cartItem.product.name}' />"
                            />
                            <span class="item-name"><c:out value="${cartItem.product.name}" /></span>
                            <span class="item-price">$<c:out value="${cartItem.product.price}" /></span>
                            <span class="item-quantity">Quantity: <c:out value="${cartItem.quantity}" /></span>
                        </li>
                    </c:forEach>
                </ul>
                <a href="/cart" class="button">Checkout</a>
            </div>
            <!--end shopping-cart -->
        </div>
    </div>
</body>
</html>
