<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>GreenFarm</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <h1>PRODUCT DETAIL</h1>
    <main th:object="${item}" class="poly-item-detail">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <img th:src="@{|*{image}|}" alt="" style="width: 500px" height="300px">
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul>
                        <li th:text="*{productname}"></li>
                        <li th:text="*{productid}"></li>
                        
                        <li th:text="*{price}"></li>
                       
                        <li th:text="*{category.categoryname}"></li>
						<li th:text="*{description}"></li>
                    </ul>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-success">
                    	<i class="glyphicon glyphicon-shopping-cart"></i>
                	</button>
                </div>
            </div>

        </div>
<!--         <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading"> HÀNG CÙNG LOẠI</div>
                <div  class="panel-body">
                    <ul>
                        <li th:each="p:*{category.products}">
                            <a th:href="@{|/product/detail/${p.productid}|}" th:text="${p.productname}"> </a>
                        </li>
                    </ul>
                    <div class="col-12" th:object="${item}" style="font-size: 20px">
                            <div class="">                              
                                 <li th:each="p:*{category.products}">
                               <a th:href="@{|/product/detail/${p.productid}|}" th:text="${p.description}"> </a> <br>
                                  <a class="text-center" ><img th:src="@{|${p.image}|}"
                                                alt=""></a>
                       </li>
                          
                        </div>
                    
                
                </div>
                </div>

            </div>
        </div> -->
       


                <!--new product area start-->
                <div class="new_product_area product_page">
                    <div class="row">
                        <div class="col-12">
                            <div class="block_title">
                                <h3> SẢN PHẨM CÙNG THỂ LOẠI </h3>
                                
                            </div>
                        </div>
                    </div>
                    
                   
                <div class="row" th:object="${item}" >
                        <div class="single_p_active owl-carousel">
                            <div class="col-lg-3" th:each="p:*{category.products}" >
                     <div class="single_product">
                                    <div class="product_thumb">
                                        <!-- <a th:href="@{|/product/detail/${p.productid}|}"><img  th:src="@{|${p.image}|}"
                                                alt=""></a> -->
                                        <!-- <div class="img_icone">
                                            <img src="assets\img\cart\span-new.png" alt="">
                                        </div>
                                        <div class="product_action">
                                            <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        </div> -->
                                    </div>
                                    <div class="product_content">
                                        <span class="product_price"  th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')}+ 'đ'"></span>
                                        <h3 class="product_title"><a th:href="@{|/product/detail/${p.productid}|}" th:text="${p.productname}"> </a>
                                        </h3>
                                    </div>
                                   
                                </div> 
							
                            </div>
                        </div>
                    </div> 
                </div>
                <!--new product area start-->


                <!--new product area start-->
                <div class="new_product_area product_page py-3" >
                    <div class="row">
                        <div class="col-12">
                            <div class="block_title">
                                <h3> MÔ TẢ SẢN PHẨM CÙNG LOẠI</h3>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                     <div class="col-12" th:object="${item}" style="font-size: 20px">
                            <div class="">                              
                                 <li th:each="p:*{category.products}">
                               <a th:href="@{|/product/detail/${p.productid}|}" th:text="${p.description}"> </a> <br>
                                  <a class="text-center" ><img th:src="@{|${p.image}|}"
                                                alt=""></a>
                       </li>
                          
                        </div>
                    
                
                </div>
    </main>
</body>

</html>