<div class="container-fluid mt-3">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card">Danh sách thống kê loại sản phẩm</h2>
				<div class="row py-3">
					<div class="col-md-6 input-group icons">
						<div class="input-group-prepend">
							<span
								class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
								id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
						</div>
						<input type="search" class="form-control"
							placeholder="Tìm kiếm tên sản phẩm...">
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-success"
							ng-click="exportExcel()">
							<i class="fa fa-file-excel-o"></i> Excel
						</button>
						<button type="button" class="btn btn-success"
							ng-click="exportPdf()">
							<i class="fa fa-file-pdf-o"></i> PDF
						</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table header-border zero-configuration">
						<thead>
							<tr>
								<td>STT</td>
								<th scope="col">lĩnh vực</th>
								<th scope="col">Số sản phẩm</th>
								<th scope="col">Xem</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.itemsThongKeLoai">
								<td>{{$index + 1}}</td>
								<td>{{item.group.categoryname}}</td>
								<td>{{item.count}}</td>
								<td><a type="button"
									ng-click="showCategoryProducts(item.group)"> <i
										class="bi bi-sticky"></i>
								</a>
									<div style="text-align: left;" class="modal fade"
										id="exampleModal" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-xl custom-modal">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">
														Các sản phẩm:</h1>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>


												</div>
												<div class="modal-body pb-5">

													<div class="table-responsive">
														<table class="table header-border">
															<thead>
																<tr>
																	<th scope="col">STT</th>
																	<th scope="col">Hỉnh ảnh</th>
																	<th scope="col">Tên sản phẩm</th>
																	<th scope="col">Giá</th>
																	<th scope="col">Số lượng (KG)</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="product in selectedCategoryProducts">
																	<th scope="row">{{$index + 1}}</th>
																	<td><img ng-src="{{product.image}}"
																		alt="Product Image" style="width: 80px;"></td>
																	<td>{{product.productname}}</td>
																	<td>{{product.price | number}}đ</td>
																	<td>{{product.quantityavailable}}</td>
																</tr>
															</tbody>

														</table>

													</div>
												</div>

											</div>
										</div>
									</div></td>
							</tr>
						</tbody>
					</table>
					<div class="panel-footer text-right">
						<span class="col-md-6"
							style="text-align: right; font-weight: bold; color: black; font-size: 15px">{{pager.page
							+ 1}} / {{pager.count}} </span>
						<button ng-click="pager.first()" class="btn btn-success">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager.prev()" class="btn btn-success">
							<i class="fas fa-angle-left"></i>
						</button>
						<button ng-click="pager.next()" class="btn btn-success">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager.last()" class="btn btn-success">
							<i class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

