<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tour</title>
</head>
<body>
    <label for="">Name</label>
    <input type="text" ><br>
    <label for="">Description</label>
    <input type="text" name="" id=""><br>
    <label for="">Giá trẻ em</label>
    <input type="number" name="" id=""><br>
    <label for="">giá người lớn</label>
    <input type="number" name="" id=""><br>
    <label for="">Hình</label>
    <input type="file" name="" id=""><br>
    <label for="">quantity</label>
    <input type="number" name="" id=""><br>
    <label for="">Ngày bắt đầu</label>
    <input type="datetime-local" name="" id=""><br>
    <label for="">Ngày kết thúc</label>
    <input type="datetime-local" name="" id=""><br>
    <label for="">Địa điểm</label>
    <input type="text" name="" id=""><br>
    <label for="">Số lượng vé</label>
    <input type="number"><br>
    <button type="submit">Summit</button>
</body>
</html>