<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h2 class="card">Danh sách mã giảm giá</h2>
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<div class="input-group-prepend">
								<span
									class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
									id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
							</div>
							<input type="search" class="form-control" id="search"
								ng-model="searchText" ng-change="loadData()"
								placeholder="Tìm kiếm theo mã...">
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-success"
								ng-click="editthemsp()" data-toggle="modal"
								data-target="#exampleModa2">
								<i class="fa fa-plus-square"></i> Thêm mã giảm giá
							</button>
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#Restore">
								Khôi phục</i>
							</button>
						</div>
					</div>
					<div class="table-responsive">
						<table
							class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr>
									<th>STT</th>
									<th>Mã vouchers</th>
									<th>Giảm giá</th>
									<th>Ngày tạo</th>
									<th>Sửa</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pager.items">
									<th>{{$index + 1}}</th>
									<th>{{item.code}}</th>
									<th>{{item.discount}}</th>
									<th style="width: auto"><span class="text-primary"
										style="font-size: 13px;"> {{item.expirationdate |
											date:'dd-MM-yyyy HH:mm a'}}</span></th>
									<td><a ng-click="edit(item)" data-toggle="modal"
										data-target="#exampleModal"> <i
											class="bi bi-pencil-square"></i>
									</a></td>
									<td><a ng-click="delete(item)"><i
											class="bi bi-trash3-fill p-2"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer text-right">
						<span class="col-md-6"
							style="text-align: right; font-weight: bold; color: black; font-size: 15px">{{pager.page
							+ 1}} / {{pager.count}} </span>
						<button ng-click="pager.first()" class="btn btn-success">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager.prev()" class="btn btn-success">
							<i class="fas fa-angle-left"></i>
						</button>
						<button ng-click="pager.next()" class="btn btn-success">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager.last()" class="btn btn-success">
							<i class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h2 class="card">Danh sách cấp mã cho người dùng</h2>
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<div class="input-group-prepend">
								<span
									class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
									id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
							</div>
							<input type="search" class="form-control" id="search"
								ng-model="searchText" ng-change="loadData1()"
								placeholder="Nhập từ khóa">
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#exampleModal3">
								<i class="fa fa-plus-square"></i> Cấp mã
							</button>
						</div>
					</div>
					<div class="table-responsive">
						<table
							class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr style="text-align: center;">
									<th>STT</th>
									<th>Hình ảnh</th>
									<th>Người được cấp</th>
									<th>Mã cấp</th>
									<th>Ngày tạo</th>
									<th>Sửa</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								<tr style="text-align: center;"
									ng-repeat="item2 in pager1.items2">
									<th style="width: 30px">{{$index + 1}}</th>
									<th style="width: 150px;"><img
										ng-src="{{item2.user.image}}" alt="Product Image"
										style="width: 70px; height: 70px"></th>
									<th style="width: 250px;padding:30px">{{item2.user.email}}</th>
									<th style="width: 250px;padding:30px">{{item2.voucher.code}}</th>
									<th class="text-primary" style="width: 250px;padding:30px">{{item2.expirationdate
										| date:'dd-MM-yyyy HH:mm a'}}</th>
									<td><a ng-click="edit2(item2)" data-toggle="modal"
										data-target="#exampleModal4"> <i
											class="bi bi-pencil-square"></i>
									</a></td>
									<td><a ng-click="deleteuser(item2)"><i
											class="bi bi-trash3-fill p-2"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer text-right">
						<span class="col-md-6"
							style="text-align: right; font-weight: bold; color: black; font-size: 15px">{{pager1.page
							+ 1}} / {{pager1.count}} </span>
						<button ng-click="pager1.first()" class="btn btn-success">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager1.prev()" class="btn btn-success">
							<i class="fas fa-angle-left"></i>
						</button>
						<button ng-click="pager1.next()" class="btn btn-success">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager1.last()" class="btn btn-success">
							<i class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title " id="exampleModalLabel">Cập nhật mã
					giảm giá</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="card info">
						<div class="card-body">
							<div class="basic-form">
								<form class="row" name="frmvalidateupdate"
									ng-submit="submitForm1()" novalidate>
									<div class="form-group col-sm-6">
										<label>Mã:</label> <input name="code" style="height: 55px"
											type="text" ng-model="form.code"
											class="form-control input-default" placeholder="VD : code"
											required /> <label
											ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.code.$error.required"
											style="color: red;">Vui lòng nhập code !</label>
									</div>
									<div class="form-group col-sm-6">
										<label>Mã giảm giá:</label> <input name="discount"
											style="height: 55px" type="number" ng-model="form.discount"
											class="form-control input-default" placeholder="VD : 0.1"
											required /> <label
											ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.discount.$error.required"
											style="color: red;">Vui lòng nhập mã giảm giá !</label>
									</div>
									<div class="form-group col-sm-6">
										<label>Ngày tạo:</label> <input name="expirationdate"
											style="height: 55px" type="date"
											ng-model="form.expirationdate"
											class="form-control input-default" required readonly="readonly" /> <label
											ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.expirationdate.$error.required"
											style="color: red;">Vui lòng nhập ngày tạo !</label>
									</div>

									<div class="panel-footer text-right">
										<button type="submit" name="submit"
											ng-click="frmvalidateupdate.$valid && update()"
											class="btn btn-success">Cập nhật</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="exampleModa2" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title " id="exampleModalLabel">Thêm mã giảm
					giá</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="card info">
						<div class="card-body">
							<div class="basic-form">
								<form class="row" name="frmvalidate" ng-submit="submitForm()"
									novalidate>
									<div class="form-group col-sm-6">
										<label>Mã:</label> <input name="code" style="height: 55px"
											type="text" ng-model="form.code"
											class="form-control input-default" placeholder="VD : code"
											required /> <label
											ng-show="frmvalidate.$submitted && frmvalidate.code.$error.required"
											style="color: red;">Vui lòng nhập code !</label>
									</div>
									<div class="form-group col-sm-6">
										<label>Chọn mức giảm giá:</label> <select name="discount"
											style="height: 55px" ng-model="form.discount"
											class="form-control input-default" required>
											<option value="0.05">5%</option>
											<option value="0.1">10%</option>
											<option value="0.15">15%</option>										
											<option value="0.2">20%</option>
										</select> <label
											ng-show="frmvalidate.$submitted && frmvalidate.discount.$error.required"
											style="color: red;"> Vui lòng chọn mức giảm giá ! </label>
									</div>

									<!-- <div class="form-group col-sm-6">
										<label>Ngày tạo:</label> <input name="expirationdate"
											style="height: 55px" type="date"
											ng-model="form.expirationdate"
											class="form-control input-default" required /> <label
											ng-show="frmvalidate.$submitted && frmvalidate.expirationdate.$error.required"
											style="color: red;">Vui lòng nhập ngày tạo !</label>
									</div> -->
									<div class="panel-footer text-right">
										<button type="submit" name="submit"
											ng-click="frmvalidate.$valid && create()"
											class="btn btn-success">Thêm</button>
										<button type="reset" class="btn btn-success">
											<b class="glyphicon glyphicon-refresh"></b> Làm mới
										</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Voucheruser -->
<div class="modal fade" id="exampleModal4" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title " id="exampleModalLabel">Cập nhật cấp mã</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="card info">
						<div class="card-body">
							<div class="basic-form">
								<form class="row" name="frmvalidateupdateuser"
									ng-submit="submitForm1()" novalidate>
									<div class="form-group col-sm-6">
										<label>UserID:</label> <input name="userid"
											style="height: 55px" type="text" ng-model="form2.user.userid"
											class="form-control input-default" placeholder="VD : code"
											required /> <label
											ng-show="frmvalidateupdateuser.$submitted && frmvalidateupdateuser.userid.$error.required"
											style="color: red;">Vui lòng nhập userid !</label>
									</div>
									<div class="form-group col-sm-6">
										<label>VoucherID:</label> <input name="voucherid"
											style="height: 55px" type="number"
											ng-model="form2.voucher.voucherid"
											class="form-control input-default" placeholder="VD : 1"
											required /> <label
											ng-show="frmvalidateupdateuser.$submitted && frmvalidateupdateuser.voucherid.$error.required"
											style="color: red;">Vui lòng nhập voucherid !</label>
									</div>

									<div class="panel-footer text-right">
										<button type="submit" name="submit"
											ng-click="frmvalidateupdateuser.$valid && updateuser()"
											class="btn btn-success">Cập nhật</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title " id="exampleModalLabel">Cấp mã cho
					người dùng</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="card info">
						<div class="card-body">
							<div class="basic-form">
								<form class="row" name="frmvalidateuser"
									ng-submit="submitForm()" novalidate>
									<div class="form-group col-sm-6">
										<label>UserID:</label><input name="userid"
											style="height: 55px" type="number"
											ng-model="form2.user.userid"
											class="form-control input-default" placeholder="VD : user1"
											required /> <label
											ng-show="frmvalidateuser.$submitted && frmvalidateuser.userid.$error.required"
											style="color: red;">Vui lòng nhập id người dùng !</label>
									</div>
									<div class="form-group col-sm-6">
										<label>VouchersID:</label> <input name="voucherid"
											style="height: 55px" type="number"
											ng-model="form2.voucher.voucherid"
											class="form-control input-default" placeholder="VD : vocher1"
											required /> <label
											ng-show="frmvalidateuser.$submitted && frmvalidateuser.voucherid.$error.required"
											style="color: red;">Vui lòng nhập id voucher !</label>
									</div>

									<div class="panel-footer text-right">
										<button type="submit" name="submit"
											ng-click="frmvalidateuser.$valid && createuser()"
											class="btn btn-success">Thêm</button>
										<button type="reset" class="btn btn-success">
											<b class="glyphicon glyphicon-refresh"></b> Làm mới
										</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="Restore" tabindex="-1"
	aria-labelledby="Restore" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">

			<div class="modal-body">
				<div class="table-responsive" ng-if="deletedItems.length > 0">
					<table
						class="table table-striped table-bordered zero-configuration">
						<thead>
							<tr>
								<th>STT</th>
								<th>Mã vouchers</th>
								<th>Giảm giá</th>
								<th>Ngày tạo</th>
								<th>Khôi phục</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in deletedItems">
								<th>{{$index + 1}}</th>
								<th>{{item.code}}</th>
								<th>{{item.discount}}</th>
								<th style="width: auto"><span class="text-primary"
									style="font-size: 13px;"> {{item.expirationdate |
										date:'dd-MM-yyyy HH:mm a'}}</span></th>

								<td><a ng-click="restore(item.voucherid)"><i
										class="bi bi-bootstrap-reboot"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-if="deletedItems.length === 0">
					<div class="login-form-bg h-100">
						<div class="container h-100">
							<div class="row justify-content-center h-100">
								<div class="col-xl-6">
									<div class="error-content">
										<div class="card mb-0">
											<div class="card-body text-center">
												<img style="width: 300px; padding: 15px;"
													src="/assets/images/logo.png" alt="">
												<h2 class="mt-4">
													<i class="fa fa-thumbs-down text-danger"></i> Yêu cầu không
													hợp lệ
												</h2>
												<h4>Không có dữ liệu giảm giá nào cần khôi phục !</h4>
												<form class="mt-5 mb-5">

													<div class="text-center mb-4 mt-4">
														<button type="button" class="btn btn-success"
															data-dismiss="modal">Tôi biết rồi</button>
													</div>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>