<div class="row page-titles mx-0">
	<div class="col p-md-0">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a>
			</li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Tour</a>
			</li>
		</ol>
	</div>
</div>
<!-- row -->

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Data Table</h4>
					<div class="table-responsive">
						<table class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr>
									<th>NO.</th>
									<th>IMAGE</th>
									<th>NAME</th>
									<th>STARTDATE</th>
									<th>ENDDATE</th>
									<th>PRICE</th>
									<th>SLOTS</th>
									<th>Condition</th>
									<th>Overview</th>
									<th>ACTION</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in items">
									<td>{{$index + 1}}</td>
									<td><img ng-src="{{item.image}}" alt="Product Image"
										style="width: 80px;"></td>
									<td>{{item.tourname}}</td>
									<td>{{item.startdate | date:'dd-MM-yyyy'}}</td>
									<td>{{item.enddate | date:'dd-MM-yyyy'}}</td>
									<td>{{item.pricings.childprice}}</td>
									<td>{{item.availableslots}}</td>
									<td>{{item.tourCondition.tourconditionid}}</td>
									<td>{{item.tourOverview.touroverviewid}}</td>
									<td class="text-center"><a href="" ng-click="edit(item)"><i
												class="bi bi-pencil-square p-2"></i> </a> </td>
									<!--<a href="/"><i class="bi bi-trash3-fill p-2"></i></a>-->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Create / Update</h4>
			<div class="basic-form">
				<form>
					<div class="form-group">
						<input type="text" name="tourname" ng-model="form.tourname" class="form-control input-default"
							placeholder="Name" />
					</div>
					<div class="form-group d-flex">
						<div class="form-group d-flex">
							<input type="number" ng-model="form.pricings.childprice" number-format="{0:.3f}" class="form-control input-default mr-2" placeholder="ChildPrice" />
							<input type="number" ng-model="form.pricings.adultprice" class="form-control input-default ml-2" placeholder="InfantPrice" />
						</div>
						<input type="number" name="availableslots" ng-model="form.availableslots"
							class="form-control input-default ml-2" placeholder="Quantity" />
					</div>

					<div class="form-group d-flex">
						<input class="form-control input-daterange-datepicker mr-2" type="date" name="daterange"
							ng-model="form.startdate" placeholder="Start Date" />
						<input class="form-control input-daterange-datepicker mr-2" type="date" name="daterange"
							ng-model="form.enddate" placeholder="End Date" />
					</div>
					<div class="form-group">
						<input type="text" name="location" ng-model="form.location"class="form-control input-default ml-2" placeholder="Location" />
					</div>
					<div class="form-group">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Upload</span>
							</div>
							<div class="custom-file">
								<input type="file" name="image" ng-model="form.image" class="custom-file-input" />
								<label class="custom-file-label">Choose file</label>
							</div>
						</div>
						<img src="images/paypal.png" ng-model="form.image" alt="Hình Ảnh" class="img-fluid" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<h3 class="text-center p-4">Condition</h3>
				<!--<div class="card-body">
				
					<div class="click2edit m-b-40">Click on Edite button and
						change the text then save it.</div>
					<button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</button>
					<button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Save</button>
				</div>-->
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Conditions</span>
					</div>
					<textarea class="form-control" style="height: 200px;" ng-model="form.tourCondition.conditions" aria-label="With textarea"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<h3 class="text-center p-4">Overview</h3>
				<!--<div class="card-body">
					<div class="click2edit m-b-40">Click on Edite button and
						change the text then save it.</div>
					<button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</button>
					<button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Save</button>
				</div>-->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Title</span>
					</div>
					<input type="text" ng-model="form.tourOverview.title" class="form-control" aria-label="Default"
						aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Content</span>
					</div>
					<textarea class="form-control" style="height: 200px;" ng-model="form.tourOverview.content" aria-label="With textarea"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 text-center">
	<button class="btn btn-danger px-5">Create / Update</button>
</div>