<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="social-graph-wrapper widget-facebook">
					<h4 class="text-white py-2">Doanh thu</h4>
					<span class="s-icon"><i class="fa fa-money"></i></span> <span
						class="s-icon"><i class="fa fa-money"></i></span>
				</div>

				<div class="row">
					<div class="col-6 border-right">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 ng-repeat="item in itemsThongKeDT" class="m-1">
								<span ng-if="item.yearValue === 2023">{{item.sum|
									currency:'₫':0}} 
							</h4>
							<p class="m-0">Shop</p>
						</div>
					</div>
					<div class="col-6">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 ng-repeat="item in itemsThongKeDTTOUR" class="m-1">
								<span ng-if="item.yearValue === 2023">{{item.sum|
									currency:'₫':0}} 
							</h4>
							<p class="m-0">Tour</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="social-graph-wrapper widget-linkedin">
					<h4 class="text-white py-2 ">Đăng ký & Tổng tiền mua hàng</h4>
					<span class="s-icon"><i class="fa fa-user"></i></span>
					<span class="s-icon"><i class="fa fa-person"></i></span>
				</div>
				<div class="row">
					<div class="col-6 border-right">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">100 </h4>
							<p class="m-0">Shop & Tour</p>
						</div>
					</div>
					<div class="col-6">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">50</h4>
							<p class="m-0">Shop & Tour</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="social-graph-wrapper widget-googleplus">
					<h4 class="text-white py-2">Đơn hàng</h4>
					<span class="s-icon"><button type="button"
							class="btn btn-light" data-toggle="modal"
							data-target="#exampleModal">
							<i class="fa fa-shopping-cart"></i>
						</button></span> <span class="s-icon"><button type="button"
							class="btn btn-light" data-toggle="modal"
							data-target="#exampleModal3">
							<i class="fa fa-suitcase"></i>
						</button></span>
				</div>
				<div class="row">
					<div class="col-6 border-right">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">{{ calculateTotalCount() }}</h4>
							<p class="m-0">Shop</p>
						</div>
					</div>
					<div class="col-6">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">{{calculateTotalCount1() }}</h4>
							<p class="m-0">Tour</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="social-graph-wrapper widget-twitter">
					<h4 class="text-white py-2">Đánh giá & Phản hồi</h4>
					<span class="s-icon"><button type="button"
							class="btn btn-light" data-toggle="modal"
							data-target="#exampleModal2">
							<i class="fa fa-heart"></i>
						</button></span> <span class="s-icon"><i class="fa fa-thumbs-o-up"></i></span>
				</div>
				<div class="row">
					<div class="col-6 border-right">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">{{ calculateTotalCountstats()}}</h4>
							<p class="m-0">Shop</p>
						</div>
					</div>
					<div class="col-6">
						<div class="pt-3 pb-3 pl-0 pr-0 text-center">
							<h4 class="m-1">11</h4>
							<p class="m-0">Tour</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<h3 class="card">Thống kê doanh thu các năm</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2">
							<ul style="font-weight: bold;"
								class="list-group list-group-flush text-center" id="listItems">
								<li class="list-group-item"><i style="color: green;"
									class="fas fa-calendar"></i> | <a href="#" data-year="2020">Năm:
										2020</a></li>
								<li class="list-group-item"><i style="color: green;"
									class="fas fa-calendar"></i> | <a href="#" data-year="2021">Năm:
										2021</a></li>
								<li class="list-group-item"><i style="color: green;"
									class="fas fa-calendar"></i> | <a href="#" data-year="2022">Năm:
										2022</a></li>
								<li class="list-group-item"><i style="color: green;"
									class="fas fa-calendar"></i> | <a href="#" data-year="2023">Năm:
										2023</a></li>
								<!-- Thêm các năm khác nếu cần -->
							</ul>
						</div>
						<div class="col-lg-10">
							<div id="chart">
								<canvas id="myChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<h3 class="card">Thống kê doanh thu của năm</h3>
						</div>
						<div class="col-md-6 text-right"></div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<div class="w-100 mr-2">
								<h5>Shop</h5>
								<div class="progress" style="height: 6px">
									<div class="progress-bar bg-danger" style="width: 40%"></div>
								</div>
							</div>
							<ul ng-repeat="item in itemsThongKeDT"
								class="list-group list-group-flush" id="listItems">
								<li class="list-group-item text-center"><a href="#"> <span
										style="font-weight: bold;"><i style="color: green;"
											class="fas fa-calendar"></i> | Năm: {{item.yearValue}} </span> <span
										style="font-weight: bold; padding: 20px">{{item.sum |
											currency:'₫':0}}</span>
								</a></li>
							</ul>
							<div class="ml-2 w-100">
								<h5>Tour</h5>
								<div class="progress" style="height: 6px">
									<div class="progress-bar bg-success" style="width: 80%"></div>
								</div>
							</div>
							<ul ng-repeat="item in itemsThongKeDTTOUR"
								class="list-group list-group-flush" id="listItems">
								<li class="list-group-item text-center"><a href="#"> <span
										style="font-weight: bold;"><i style="color: green;"
											class="fas fa-calendar"></i> | Năm: {{item.yearValue}} </span> <span
										style="font-weight: bold; padding: 20px">{{item.sum |
											currency:'₫':0}}</span>
								</a></li>
							</ul>
						</div>
						<div class="col-lg-9">
							<div id="chart">
								<canvas id="myChart2"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">

			<div class="modal-body">
				<div class="row">
					<div ng-repeat="item in itemsThongKeSTstatus" class="col-6">
						<div class="card card-widget">
							<div class="card-body gradient-5">
								<div class="media">
									<span class="card-widget__icon"><i
										class="fa fa-shopping-cart"></i></span>
									<div class="media-body p-2">
										<h2 class="card-widget__title">
											{{item.group}} : <span>{{item.count}}</span>
										</h2>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">

			<div class="modal-body">
				<div class="row">

					<div ng-repeat="tour in itemsThongKebookingstatus" class="col-6">
						<div class="card card-widget">
							<div class="card-body gradient-5">
								<div class="media">
									<span class="card-widget__icon"><i
										class="fa fa-suitcase" aria-hidden="true"></i></span>
									<div class="media-body p-2">
										<h2 class="card-widget__title">
											{{tour.group}} : <span>{{tour.count}}</span>
										</h2>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl ">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title " id="exampleModalLabel">Chi tiết : đánh
					giá sản phẩm</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div style="color: black;" class="table-responsive">
					<table class="table header-border table-hover verticle-middle">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Đánh giá</th>
								<th scope="col">Tổng</th>
								<th scope="col">Tỉ lệ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="stats in itemsThongKestats">
								<th>{{$index + 1}}</th>
								<td>{{stats.tinh}} <i style="color: yellow;"
									class="fa fa-star"></i></td>
								<td>{{stats.count}}</td>
								<td><span class="label gradient-4 btn-rounded">
										{{stats.count/calculateTotalCountstats()*100 |number:2}}% </span></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>