<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-1">
				<div class="card-body">
					<h3 class="card-title text-white">Doanh thu(tháng)</h3>
					<div class="d-inline-block">
						<h2 class="text-white">4565</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i
						class="fa fa-shopping-cart"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-2">
				<div class="card-body">
					<h3 class="card-title text-white">Doanh thu(năm)</h3>
					<div class="d-inline-block">
						<h2 class="text-white">$ 8541</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i
						class="fa fa-money"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 " id="slstatus">
			<div class="card gradient-3">
				<div class="card-body " style="height: 160px">
					<h3 class="card-title text-white">Số lượng đơn hàng</h3>
					<div class="d-inline-block py-3">
						<h2 class="text-white">{{ calculateTotalCount() }}</h2>
					</div>
					<button style="margin-top: 20px;" type="button"
						class="btn btn-light float-right opacity-5" data-toggle="modal"
						data-target="#exampleModal">
						<i class="fa fa-wrench"></i>
					</button>
					<div class="modal fade" id="exampleModal" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl custom-modal">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title " id="exampleModalLabel">Chi tiết :
										số lượng trạng thái đơn hàng</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div ng-repeat="item in itemsThongKeSTstatus" class="col-6">
											<div class="card card-widget">
												<div class="card-body gradient-3">
													<div class="media">
														<span class="card-widget__icon"><i
															class="fa fa-shopping-bag"></i></span>
														<div class="media-body p-2">
															<h2 class="card-widget__title">
																{{item.group}} : <span>{{item.count}}</span>
															</h2>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 ">
			<div class="card gradient-4">
				<div class="card-body " style="height: 160px">
					<h3 class="card-title text-white">Sự hài lòng của khách hàng</h3>
					<div class="d-inline-block py-3">
						<h2 class="text-white">{{ calculateTotalCountstats()}}</h2>
					</div>
					<button style="margin-top: 20px;" type="button"
						class="btn btn-light float-right opacity-5" data-toggle="modal"
						data-target="#exampleModal2">
						<i class="fa fa-heart"></i>
					</button>
					<div class="modal fade" id="exampleModal2" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl ">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title " id="exampleModalLabel">Chi tiết :
										đánh giá sản phẩm</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div style="color: black;" class="table-responsive">
										<table class="table header-border table-hover verticle-middle">
											<thead>
												<tr>
													<th scope="col">STT</th>
													<th scope="col">Đánh giá</th>
													<th scope="col">Tổng</th>
													<th scope="col">Tỉ lệ</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="stats in itemsThongKestats">
													<th>{{$index + 1}}</th>
													<td>{{stats.tinh}} <i style="color: yellow;"
														class="fa fa-star"></i></td>
													<td>{{stats.count}}</td>
													<td><span class="label gradient-4 btn-rounded">
															{{stats.count/calculateTotalCountstats()*100 |number:2}}%
													</span></td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row py-3">
						<div class="col-md-6 input-group icons">
							<h3 class="card">Thống kê doanh thu theo năm</h3>
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-success">
								<a type="button" data-toggle="modal"
									data-target="#exampleModal3"> <i class="fas fa-chart-bar"></i>
									Biểu đồ : Doanh thu từng năm
								</a>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2">
							<ul style="font-weight: bold;" class="list-group list-group-flush text-center" id="listItems">
								<li class="list-group-item"><i style="color:green;" class="fas fa-calendar"></i>
									| <a href="#" data-year="2020">Năm: 2020</a></li>
								<li class="list-group-item"><i style="color:green;" class="fas fa-calendar"></i>
									| <a href="#" data-year="2021">Năm: 2021</a></li>
								<li class="list-group-item"><i style="color:green;" class="fas fa-calendar"></i>
									| <a href="#" data-year="2022">Năm: 2022</a></li>
								<li class="list-group-item"><i style="color:green;" class="fas fa-calendar"></i>
									| <a href="#" data-year="2023">Năm: 2023</a></li>
								<!-- Thêm các năm khác nếu cần -->
							</ul>
						</div>
						<div class="col-lg-10">
							<div id="chart">
								<canvas id="myChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl custom-modal">
		<div class="modal-content">

			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">
						<h4 class="card">Doanh thu năm</h4>
						<ul ng-repeat="item in itemsThongKeDT"
							class="list-group list-group-flush" id="listItems">
							<li class="list-group-item"><a href="#"
								data-year="{{item.yearValue}}"> <span  style="color: blue;font-weight: bold;">Năm:
										{{item.yearValue}} </span> | <span style="font-weight: bold;">{{item.sum
										| currency:'₫':0}}</span>
							</a></li>
						</ul>

					</div>
					<div class="col-md-9">
						<div id="chart">
							<canvas id="myChart2"></canvas>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
