<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<body>

	<section class="mt-5 h-100 h-custom" style="background-color: #eee">
		<div class="h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div th:if="${#lists.isEmpty(cartList)}" style="text-align: center;">
					<img class="" style="width: 108x;height: 98px;" alt="" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/9bdd8040b334d31946f49e36beaf32db.png">
					<p class="text-center fw-bold fs-4">Giỏ hàng của bạn còn trống!</p>
					<button type="button" style="background-color: #7AB730" class="btn btn-success"> <a href="/product/shop">MUA NGAY</a> </button>
				</div>
				<div th:if="${not #lists.isEmpty(cartList)}">
					<div class="col">
						<div class="card">
							<div class="card-body p-4">
								<div class="row">
									<div class="col-lg-9">
										<h5 class="mb-3">
											<a href="/product/shop" class="text-body"><i
												class="fas fa-long-arrow-alt-left me-2"></i> <span
												th:text="#{cart.label.continueShopping}">Continue
													shopping</span></a>
										</h5>
										<hr />
										<div
											class="d-flex justify-content-between align-items-center mb-4">
											<!-- <div>
                          <p class="mb-0">
                            <span
                              class="text-muted"
                              th:text="#{cart.label.total}"
                              >Tổng:</span
                            ><span th:text="${totalprice}"></span>
                          </p>
                        </div> -->
                      </div>
                      <div>
                        <div class="table-responsive bg-white">
                          <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-white" id="praject-table">
                              <tr>
                                <th
                                  class="text-center"
                                  style="width: 65px"
                                  th:text="#{cart.label.numerical}"
                                >
                                  S.No
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{cart.label.image}"
                                >
                                  Hình
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{cart.label.name}"
                                >
                                  Tên
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{cart.label.quantity}"
                                >
                                  Số lượng(KG)
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{cart.label.price}"
                                >
                                  Giá
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{cart.label.total}"
                                >
                                  Tổng
                                </th>
                                <th
                                  class="text-center"
                                  th:text="#{label.action}"
                                >
                                  Hành Động
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="cart, iterStat : ${cartList}" >
                                <td style="padding-top: 40px"
                                  class="text-center"
                                  th:text="${iterStat.count}"
                                ></td>
                                <td class="text-center" ><img th:src="${cart.product.image}" alt="Product Image" style="width: 80px;height:80px"></td>
                                <td style="padding-top: 40px"
                                  class="text-center"
                                  th:text="${cart.product.productname}"
                                ></td>
                                <td class="text-center" style="padding-top: 40px;">
                                  <button style="border: 1px solid rgba(0,0,0,.09);width: 32px"
                                    href="javascript:void(0)"
                                    onclick="decreaseQuantity(this)"
                                  >
                                    -
                                  </button>
                                  <input
                                    type="number" style="border: 1px solid rgba(0,0,0,.09);" min="0.5"
                                    class="cart-quantity text-center w-25"
                                    th:value="${cart.quantity}"
                                    th:data-productid="${cart.product.productid}"
                                    onchange="updateQuantity(this)"
                                  />
                                  <button style="border: 1px solid rgba(0,0,0,.09);width: 32px"
                                    href="javascript:void(0)"
                                    onclick="increaseQuantity(this)"
                                  >
                                    +
                                  </button>
                                </td>
                                <td style="padding-top: 40px" class="text-center" th:text="${#numbers.formatDecimal(cart.product.price, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></td>

                              <td style="padding-top: 40px" class="text-center"
                                th:text="${#numbers.formatDecimal(cart.product.price * cart.quantity, 0, 'COMMA', 0, 'POINT')}+ ' ₫'">
                              </td>

                                <td style="padding-top: 40px" class="text-center">
                                    <i style="color: #7AB730;" th:attr="onclick='removeCart(\'' + ${cart.product.productid} + '\')'" class="bi bi-trash3-fill"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div
                        class="card text-white rounded-3"
                        style="background-color: #000000"
                      >
                        <div class="card-body">
                          <div
                            class="d-flex justify-content-between align-items-center mb-4"
                          >
                            <h5
                              class="mb-0 text-white"
                              th:text="#{cart.label.cartDetail}"
                            >
                              Card details
                            </h5>
                            <!-- <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                              class="img-fluid rounded-3"
                              style="width: 45px"
                              alt="Avatar"
                            /> -->
                        </div>
                        <hr class="my-4" />
                        <!--   <div class="d-flex justify-content-between">
                            <p class="mb-2" th:text="#{cart.label.subtotal}">
                              Subtotal
                            </p>
                            <p class="mb-2" th:text="${#numbers.formatDecimal(totalPrice, 2, 'COMMA', 0, 'POINT')}+ ' ₫'"></p>
                          </div> -->
                        <!-- <div class="d-flex justify-content-between">
                            <p class="mb-2" th:text="#{cart.label.shipping}">
                              Shipping
                            </p>
                            <p class="mb-2">20.000đ</p>
                          </div> -->
                        <a href="/checkout">
                          <button type="button" class="btn btn-success btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                              <span id="price"
                                th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}+ ' ₫'"></span>
                              <span th:text="#{cart.label.submit}">Checkout
                                <i class="fas fa-long-arrow-alt-right ms-2"></i>
                              </span>
                            </div>
                          </button>
                        </a> <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>