<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
</head>
<body> 
	<div style="text-align: center;background-color: white;" class="py-3">
		<div class="confirmation-message">
		<img src="https://firebasestorage.googleapis.com/v0/b/luuanh-7c9d9.appspot.com/o/logo.png?alt=media&token=4679050b-5088-44ac-8d0e-3eb5e45f8b37">
		<h2>Xác nhận kiểm tra vé thành công!</h2>
		<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
	</div>

	<div class="booking-details" >
		<h3>Thông tin đặt vé</h3>
		<p>
			<strong th:text="${bookinguse.bookingid}">Mã đặt vé :</strong> BK123
		</p>
		<p>
			<strong th:text="${bookinguse.Adultticketnumber}">Số vé người lớn :</strong> 2
			<strong th:text="${bookinguse.Childticketnumber}">Số vé người trẻ em :</strong> 2
		</p>		
		<p>
			<strong th:text="${bookinguse.tour.Tourname}">Tên tour :</strong> Ngày hội nghệ thuật
		</p>
		<!-- Thêm các thông tin khác tùy thuộc vào yêu cầu của bạn -->
	</div>
	
	</div>
	
</body>
</html>