<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>
<meta charset="UTF-8" />
<title>GreenFarm</title>
</head>

<body>
	<div class="container-fluid">
		<div class="pt-3">
			<div class="">
				<div class="row flex-lg-nowrap">
					<div class="col">
						<div class="row">
							<div class="col mb-3">
								<div class="card">
									<div class="card-body">
										<div class="e-profile">
											<div class="row">
												<div class="col-12 col-sm-auto mb-3">
													<div class="mx-auto" style="width: 140px">
														<div
															class="d-flex justify-content-center align-items-center rounded"
															style="height: 140px; background-color: rgb(233, 236, 239);">
															<img style="max-height: 140px; max-width: 140px"
																alt="image" th:src="${user.image}">
														</div>
													</div>
												</div>
												<div
													class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
													<div class="text-center text-sm-left mb-2 mb-sm-0">
														<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"
															th:text="${user.firstname + ' ' + user.lastname}">
															Full Name</h4>
														<p class="mb-0" th:text="${roles}">@user</p>
														<div class="mt-2">
															<label for="fileInput" class="btn btn-primary"> <i
																class="fa fa-fw fa-camera"></i> <span>Change
																	Photo</span> <input type="file" id="fileInput"
																th:value="${user.lastname}" th:field="${user.lastname}"
																name="image" style="display: none" />
															</label>
														</div>
													</div>
													<div class="text-center text-sm-right">
														<span class="badge badge-secondary" th:text="${roles}">administrator</span>
														<div class="text-muted">
															<small>Joined</small> <small
																th:text="${user.createddate}"> 09 Dec 2017</small>
														</div>
													</div>
												</div>
											</div>
											<ul class="nav nav-tabs">
												<li class="nav-item"><a href class="active nav-link">Settings</a>
												</li>
											</ul>
											<div class="tab-content pt-3">
												<div class="tab-pane active">
													<form class="form" action="/profile"
														th:action="@{/profile}" th:object="${userchange}"
														method="post" novalidate>
														<div class="row">
															<div class="col">
																<div class="row">
																	<div class="col">
																		<div class="form-group">
																			<label>First Name</label> <input class="form-control"
																				th:field="${user.firstname}" type="text" name="name"
																				th:value="${user.firstname}"
																				th:placeholder="${user.firstname}" value="" />
																		</div>
																	</div>
																	<div class="col">
																		<div class="form-group">
																			<label>Last Name</label> <input class="form-control"
																				type="text" th:placeholder="${user.lastname}"
																				th:value="${user.lastname}"
																				th:field="${user.lastname}" />
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col">
																		<div class="form-group">
																			<label>Birthday</label> <input class="form-control"
																				th:placeholder="${user.birthday}" value="" />
																		</div>
																	</div>
																	<div class="col">
																		<div class="form-group">
																			<label>Phone Number</label> <input
																				class="form-control" type="number"
																				th:value="${user.phonenumber}"
																				th:field="${user.phonenumber}"
																				th:placeholder="${user.phonenumber}" value="" />
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col">
																		<div class="form-group">
																			<label>Email</label> <input class="form-control"
																				type="email" th:placeholder="${user.email}"
																				readonly="readonly" />
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col">
																		<div class="form-group">
																			<label>Address</label> <input class="form-control"
																				type="text" th:placeholder="${user.address}"
																				th:value="${user.address}"
																				th:field="${user.address}" />
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col mb-3">
																		<div class="form-group">
																			<label>Gender</label>
																			<div class="form-check">
																				<input class="form-check-input"
																					th:field="${user.gender}" th:value="true"
																					type="radio" name="flexRadioDefault"
																					id="flexRadioDefault1" checked /> <label
																					class="form-check-label" for="flexRadioDefault1">
																					Male </label>
																			</div>
																			<div class="form-check">
																				<input class="form-check-input" type="radio"
																					th:field="${user.gender}" th:value="false"
																					name="flexRadioDefault" id="flexRadioDefault2" />
																				<label class="form-check-label"
																					for="flexRadioDefault2"> Female </label>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col d-flex justify-content-end">
																<button class="btn btn-primary" type="submit">
																	Save Changes</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-3 mb-3">
								<div class="card mb-3">
									<div class="card-body">
										<div class="px-xl-3">
											<button class="btn btn-block btn-secondary">
												<i class="fa fa-sign-out"></i> <span>Logout</span>
											</button>
										</div>
										<br>
										<div class="px-xl-3">
											<button class="btn btn-block btn-secondary">
												<span><i class="fa fa-sign-out"></i> <a
													href="/changepass">Changepassword</a> </span>

											</button>
										</div>
										<br>
										<div class="px-xl-3">
											<a href="/order/list">
												<button class="btn btn-block btn-secondary">
													<i class="fa fa-sign-out"></i>Đơn hàng đã mua
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>