
<div class="container-fluid">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card">Danh sách người dùng</h2>
				<div class="row py-3">
					<div class="col-md-6 input-group icons">
						<div class="input-group-prepend">
							<span
								class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
								id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
						</div>
						<input type="search" class="form-control" 
							 id="search" ng-model="searchText" ng-change="loadData()" placeholder="Nhập từ khóa"
							>
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-success"
							ng-click="editthemsp()" data-toggle="modal"
							data-target="#exampleModa2">
							<i class="fa fa-plus-square"></i> Thêm người dùng
						</button>
						<button type="button" class="btn btn-success"
							ng-click="exportExcel()">
							<i class="fa fa-file-excel-o"></i> Excel
						</button>
						<button type="button" class="btn btn-success"
							ng-click="exportPdf()">
							<i class="fa fa-file-pdf-o"></i> PDF
						</button>
						<button type="button" class="btn btn-success" data-toggle="modal"
							data-target="#Restore">
							Khôi phục</i>
						</button>
					</div>
				</div>
				<div class="table-responsive">
					<table
						class="table table-striped table-bordered zero-configuration">
						<thead>
							<tr>
								<th>STT</th>
								<th>Hình ảnh</th>
								<th>Tên</th>
								<th>Email</th>
								<th>Điện thoại</th>
								<th>Địa chỉ</th>
								<th>Giới tính</th>
								<th>Ngày tạo</th>
								<th>Xem</th>
								<th>Xóa</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="item in pager.items">
								<td>{{$index + 1}}</td>
								<th><img ng-src="{{item.image}}" alt="Hình ảnh"
									style="width: 70px; height: 100px"></th>
								<td>{{item.firstname}}</td>
								<td>{{item.email}}</td>
								<td>{{item.phonenumber}}</td>
								<td style="width: 250px;">{{item.address}}</td>
								<td>{{item.gender?'Nam':'Nữ'}}</td>
								<td>{{item.createddate | date:'dd-MM-yyyy'}}</td>
								<td><a type="button" ng-click="edit(item)"
									data-toggle="modal" data-target="#exampleModal"> <i
										class="bi bi-pencil-square"></i>
								</a></td>
								<td><a ng-click="delete(item)"><i
										class="bi bi-trash3-fill p-2"></i></a></td>
							</tr>
						</tbody>
					</table>
					<div class="panel-footer text-right">
						<span class="col-md-6"
							style="text-align: right; font-weight: bold; color: black; font-size: 15px">{{pager.page
							+ 1}} / {{pager.count}} </span>
						<button ng-click="pager.first()" class="btn btn-success">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager.prev()" class="btn btn-success">
							<i class="fas fa-angle-left"></i>
						</button>
						<button ng-click="pager.next()" class="btn btn-success">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager.last()" class="btn btn-success">
							<i class="fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl custom-modal">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title " id="exampleModalLabel">Cập nhật người
						dùng</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="basic-form">
									<form class="row" name="frmvalidateupdate"
										ng-submit="submitForm1()" novalidate>
										<div class="row">
											<div class="col-md-4">
												<label for="image"> <img ng-src="{{form.image}}" 
													style="max-width: 100%; height: 300px">
												</label>

											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="form-group col-sm-6">
														<label>Mật khẩu : </label> <input name="password"
															type="password" ng-model="form.password"
															ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,100}$/"
															class="form-control input-default" ng-readonly="isEdit"
															required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.password.$error.required"
															style="color: red;">Vui lòng nhập mật khẩu !</label> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.password.$error.pattern"
															style="color: red;">Mật khẩu phải có từ 8 đến 16
															ký tự, phải bao gồm ít nhất 1 chữ viết hoa và 1 số.</label>
													</div>


													<div class="form-group col-sm-6">
														<label>Địa chỉ : </label> <input name="address"
															type="text" ng-model="form.address"
															placeholder="VD : Công viên..."
															class="form-control input-default" required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.address.$error.required"
															style="color: red;">Vui lòng nhập địa chỉ !</label> <label>
													</div>
													<div class="form-group col-sm-6">
														<label>Ngày tạo:</label> <input
															ng-model="form.createddate" type="date"
															name="createddate" class="form-control input-default"
															required max="{{today | date:'yyyy-MM-dd'}}" /> <label
															ng-show="frmvalidate.$submitted && frmvalidate.createddate.$error.required"
															style="color: red;">Vui lòng nhập ngày tạo!</label> <label
															ng-show="frmvalidate.$submitted && isDateInFuture()"
															style="color: red;">Ngày tạo không thể ở tương
															lai!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Email: </label> <input name="email" type="text"
															ng-model="form.email" class="form-control input-default"
															required placeholder="VD : hungnvps20689@fpt.edu.vn"
															ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/">
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.email.$error.required"
															style="color: red;">Vui lòng nhập email!</label> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.email.$error.pattern"
															style="color: red;">Email không hợp lệ. Vui lòng
															nhập đúng định dạng email.</label>

													</div>

													<div class="form-group col-sm-6">
														<label>Giới tính : </label>
														<div class="form-control">
															<input form-control ng-model="form.gender"
																ng-value="true" type="radio" name="gender" required>
															Nam <input form-control ng-model="form.gender"
																ng-value="false" type="radio" name="gender" required>
															Nữ
														</div>
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.gender.$error.required"
															style="color: red;">Vui lòng chọn giới tính!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Tên đầu : </label> <input name="firstname"
															type="text" ng-model="form.firstname"
															placeholder="VD : Hưng"
															class="form-control input-default" required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.firstname.$error.required"
															style="color: red;">Vui lòng nhập tên đầu!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Tên cuối : </label> <input name="lastname"
															placeholder="VD : Nguyễn" type="text"
															ng-model="form.lastname"
															class="form-control input-default" required> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.lastname.$error.required"
															style="color: red;">Vui lòng nhập tên cuôí!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Số điện thoại: </label> <input name="phonenumber"
															type="text" ng-model="form.phonenumber"
															placeholder="VD : 0999999999"
															class="form-control input-default" required
															ng-pattern="/^[0-9]{10}$/"> <label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.phonenumber.$error.required"
															style="color: red;">Vui lòng nhập số điện thoại!</label>
														<label
															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.phonenumber.$error.pattern"
															style="color: red;">Số điện thoại không hợp lệ.
															Vui lòng nhập đúng định dạng!</label>

													</div>
													<div class="form-group col-sm-6">
														<label>Ngày sinh:</label> <input ng-model="form.birthday"
															type="date" name="birthday"
															class="form-control input-default" required
															ng-change="checkDate1()"
															max="{{today | date:'yyyy-MM-dd'}}" /> <label
															ng-show="frmvalidate.$submitted && frmvalidate.birthday.$error.required"
															style="color: red;">Vui lòng chọn ngày sinh!</label> <label
															ng-show="frmvalidate.$submitted && isFutureDate1()"
															style="color: red;">Ngày sinh không thể ở tương
															lai!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Hình ảnh : </label> <input type="file"
															class="form-control" id="image"
															onchange="angular.element(this).scope().imageChanged(event)"
															accept="image/*">
														<!--														<label-->
														<!--															ng-show="frmvalidateupdate.$submitted && frmvalidateupdate.image.$error.required"-->
														<!--															style="color: red;">Hình ảnh trống!</label>-->
													</div>
												</div>
											</div>
											<div class="panel-footer ">
												<button type="submit" name="submit"
													ng-click="frmvalidateupdate.$valid && update()"
													class="btn btn-success">Cập nhật người dùng</button>

											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModa2" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl custom-modal">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title " id="exampleModalLabel">Thêm người
						dùng</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="basic-form">
									<form class="row" name="frmvalidate" ng-submit="submitForm()"
										novalidate>
										<div class="row">
											<div class="col-md-4">
												<label for="image"> <img ng-src="{{form.image}}"
													style="max-width: 100%; height: 300px">
												</label>

											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="form-group col-sm-6">
														<label>Mật khẩu : </label> <input name="password"
															type="password" ng-model="form.password"
															ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,100}$/"
															class="form-control input-default" ng-readonly="isEdit"
															placeholder="VD : 123456Aa..." required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.password.$error.required"
															style="color: red;">Vui lòng nhập mật khẩu !</label> <label
															ng-show="frmvalidate.$submitted && frmvalidate.password.$error.pattern"
															style="color: red;">Mật khẩu phải có từ 8 đến 16
															ký tự, phải bao gồm ít nhất 1 chữ viết hoa và 1 số!</label>
													</div>


													<div class="form-group col-sm-6">
														<label>Địa chỉ : </label> <input name="address"
															type="text" ng-model="form.address"
															placeholder="VD : Công viên..."
															class="form-control input-default" required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.address.$error.required"
															style="color: red;">Vui lòng nhập địa chỉ !</label> <label>
													</div>
													<div class="form-group col-sm-6">
														<label>Ngày tạo:</label> <input
															ng-model="form.createddate" type="date"
															name="createddate" class="form-control input-default"
															required max="{{today | date:'yyyy-MM-dd'}}" /> <label
															ng-show="frmvalidate.$submitted && frmvalidate.createddate.$error.required"
															style="color: red;">Vui lòng nhập ngày tạo!</label> <label
															ng-show="frmvalidate.$submitted && isDateInFuture()"
															style="color: red;">Ngày tạo không thể ở tương
															lai!</label>
													</div>


													<div class="form-group col-sm-6">
														<label>Email: </label> <input name="email" type="text"
															ng-model="form.email" class="form-control input-default"
															required placeholder="VD : hungnvps20689@fpt.edu.vn"
															ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/">
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.email.$error.required"
															style="color: red;">Vui lòng nhập email!</label> <label
															ng-show="frmvalidate.$submitted && frmvalidate.email.$error.pattern"
															style="color: red;">Email không hợp lệ. Vui lòng
															nhập đúng định dạng email.</label>
													</div>

													<div class="form-group col-sm-6">
														<label>Giới tính : </label>
														<div class="form-control">
															<input form-control ng-model="form.gender"
																ng-value="true" type="radio" name="gender" required>
															Nam <input form-control ng-model="form.gender"
																ng-value="false" type="radio" name="gender" required>
															Nữ
														</div>
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.gender.$error.required"
															style="color: red;">Vui lòng chọn giới tính!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Tên đầu : </label> <input name="firstname"
															type="text" ng-model="form.firstname"
															placeholder="VD : Hưng"
															class="form-control input-default" required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.firstname.$error.required"
															style="color: red;">Vui lòng nhập tên đầu!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Tên cuối : </label> <input name="lastname"
															placeholder="VD : Nguyễn" type="text"
															ng-model="form.lastname"
															class="form-control input-default" required> <label
															ng-show="frmvalidate.$submitted && frmvalidate.lastname.$error.required"
															style="color: red;">Vui lòng nhập tên cuôí!</label>
													</div>
													<div class="form-group col-sm-6">
														<label>Số điện thoại: </label> <input name="phonenumber"
															type="text" ng-model="form.phonenumber"
															placeholder="VD : 0999999999"
															class="form-control input-default" required
															ng-pattern="/^[0-9]{10}$/"> <label
															ng-show="frmvalidate.$submitted && frmvalidate.phonenumber.$error.required"
															style="color: red;">Vui lòng nhập số điện thoại!</label>
														<label
															ng-show="frmvalidate.$submitted && frmvalidate.phonenumber.$error.pattern"
															style="color: red;">Số điện thoại không hợp lệ.
															Vui lòng nhập đúng định dạng!</label>

													</div>
													<div class="form-group col-sm-6">
														<label>Ngày sinh:</label> <input ng-model="form.birthday"
															type="date" name="birthday"
															class="form-control input-default" required
															ng-change="checkDate1()"
															max="{{today | date:'yyyy-MM-dd'}}" /> <label
															ng-show="frmvalidate.$submitted && frmvalidate.birthday.$error.required"
															style="color: red;">Vui lòng chọn ngày sinh!</label> <label
															ng-show="frmvalidate.$submitted && isFutureDate1()"
															style="color: red;">Ngày sinh không thể ở tương
															lai!</label>
													</div>

													<div class="form-group col-sm-6">
														<label>Hình ảnh : </label> <input type="file"
															class="form-control" id="image"
															onchange="angular.element(this).scope().imageChanged(event)"
															accept="image/*">

														<!--														 <label-->
														<!--															ng-show="frmvalidate.$submitted && frmvalidate.image.$error.required"-->
														<!--															style="color: red;">Hình ảnh trống!</label>-->
													</div>
												</div>
											</div>
											<div class="panel-footer ">
												<button type="submit" name="submit"
													ng-click="frmvalidate.$valid && create()"
													class="btn btn-success">Thêm người dùng</button>
												<button type="reset" class="btn btn-success">
													<b class="glyphicon glyphicon-refresh"></b> Làm mới
												</button>
											</div>
										</div>
									</form>
								</div>


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Restore" tabindex="-1"
		aria-labelledby="Restore" aria-hidden="true">
		<div class="modal-dialog modal-xl custom-modal">
			<div class="modal-content">
				<div class="modal-body">
					<div class="table-responsive" ng-if="deletedItems.length > 0">
						<table
							class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr>
									<th>STT</th>
									<th>Hình ảnh</th>
									<th>Tên</th>
									<th>Email</th>
									<th>Điện thoại</th>
									<th>Địa chỉ</th>
									<th>Giới tính</th>
									<th>Ngày tạo</th>
									<th>Khôi phục</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in deletedItems">
									<td>{{$index + 1}}</td>
									<th><img ng-src="{{item.image}}" alt="Hình ảnh"
										style="width: 70px; height: 100px"></th>
									<td>{{item.firstname}}</td>
									<td>{{item.email}}</td>
									<td>{{item.phonenumber}}</td>
									<td style="width: 250px;">{{item.address}}</td>
									<td>{{item.gender?'Nam':'Nữ'}}</td>
									<td>{{item.createddate | date:'dd-MM-yyyy'}}</td>
									<td><a ng-click="restore(item.userid)"><i
											class="bi bi-bootstrap-reboot"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="deletedItems.length === 0">
						<div class="login-form-bg h-100">
							<div class="container h-100">
								<div class="row justify-content-center h-100">
									<div class="col-xl-6">
										<div class="error-content">
											<div class="card mb-0">
												<div class="card-body text-center">
													<a href="#"> <img style="width: 300px; padding: 15px;"
														src="/assets/images/logo.png" alt=""></a>
													<h2 class="mt-4">
														<i class="fa fa-thumbs-down text-danger"></i> Yêu cầu
														không hợp lệ
													</h2>
													<h4>Không có dữ liệu người dùng nào cần khôi phục !</h4>
													<form class="mt-5 mb-5">

														<div class="text-center mb-4 mt-4">
															<button type="button" class="btn btn-success"
																data-dismiss="modal">Tôi biết rồi</button>
														</div>
													</form>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>