<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h2 class="card">Soát Vé</h2>
					<div class="row py-3">
						<div class="col-5 border ">
							<h1>Camera Selection</h1>

							Dropdown để chọn camera
							<label for="cameraSelect">Select Camera:</label> <select
								id="cameraSelect" ng-click="selectCamera()" >
							</select>
							
							<button ng-click="captureAndSend()">Capture and Send</button>
							
							<hr>
								<div class="bg-primary" style="max-width: 640; max-height: 480">
								Hiển thị video từ camera được chọn
							<video id="camera-view" style="max-width: 100%" autoplay></video>
					
								</div>
								</div>
								
								show thong tin ve
						<div class="col-5 bg-success">
						<div style="text-align: center; background-color: white;" class="py-3">
			<div class="confirmation-message">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/luuanh-7c9d9.appspot.com/o/logo.png?alt=media&token=4679050b-5088-44ac-8d0e-3eb5e45f8b37">
				<h2>Xác nhận kiểm tra vé thành công bạn có thể vào cổng !</h2>
				<p style="color: red;">Cảm ơn bạn đã sử dụng dịch vụ của chúng
					tôi</p>
			</div>
			<h3>Thông tin đặt vé của bạn</h3>
			<div class="row">
				<div class="col-md-6" style="text-align: left;">
					<div class="card" style="height: 231px">
						<div class="card-body">
							<h4 class="card-title" style="text-align: center;">Thông tin
								khách hàng</h4>
							<br>
							<p class="card-text">
								<i class="fas fa-envelope"></i> Email : {{bookings.user.email}} <strong
									th:text="${bookinguse.user.email}"></strong>
							</p>

							<p class="card-text phone">
								<i class="fas fa-phone"></i> Số điện thoại : {{bookings.user.phonenumber}} <strong id="phoneNumber"
									th:text="${bookinguse.user.phonenumber}"></strong>
							</p>
							<p class="card-text">
								<i class="far fa-calendar-alt"></i> Ngày tạo đơn: {{bookings.bookingdate}} <strong
									th:text="${bookinguse.bookingdate}"></strong>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-6" style="text-align: left;">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" style="text-align: center;">Thông tin
								đặt vé</h4>
							<p class="card-text">
								<i class="fas fa-ticket-alt"></i> Mã vé: <strong>{{bookings.bookingid}}<strong
										th:text="${bookingus.bookingid}"></strong></strong>
							</p>
							<p class="card-text">
								<i class="fas fa-user"></i> Số vé người lớn:  {{bookings.Adultticketnumber}} <strong
									th:text="${bookinguse.Adultticketnumber}"></strong> <strong>
									Vé</strong>
							</p>
							<p class="card-text">
								<i class="fas fa-child"></i> Số vé người trẻ em: {{bookings.Childticketnumber}} <strong
									th:text="${bookinguse.Childticketnumber}"></strong> <strong>
									Vé</strong>
							</p>
							<p class="card-text">
								<i class="fas fa-route"></i> Tên tour: <strong
									th:text="${bookinguse.tour.Tourname}"> {{bookings.tour.tourname}}</strong>
							</p>
							<!-- Thêm các thông tin khác tùy thuộc vào yêu cầu của bạn -->
						</div>

					</div>

				</div>

			</div>


		</div>
						
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</div>


 
 <!-- 
  <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card">QR Code Scanner</h2>
                        <div class="row py-3">
                            <div class="col-5 border ">
                                <h1>Camera Selection</h1>
                                Dropdown để chọn camera
                                <label for="cameraSelect">Select Camera:</label>
                                <select id="cameraSelect" ng-model="selectedCamera"
                                    ng-options="camera.deviceId as camera.label for camera in cameras">
                                </select>
                                <button ng-click="captureQRCode()">Start Scanning</button>
                                <hr>
                                <div class="bg-primary" style="max-width: 640; max-height: 480">
                                    Hiển thị video từ camera được chọn
                                    <video id="camera-view" style="max-width: 100%" autoplay></video>
                                </div>
                            </div>
                            show thong tin ve
                            <div class="col-5 bg-success">
                                Hiển thị giá trị mã QR
                                <div>
                                    <p>QR Code Value: {{ qrCodeValue }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->