<!DOCTYPE html>
<html
  xmlns="http://www.thymeleaf.org"
  th:replace="~{/admin/layout/layout::dynamic(~{::body})}"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
<body>
    <div class="content-body">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create / Update</h4>
                    <div class="basic-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control input-default" placeholder="Name">
                            </div>
                            <div class="form-group d-flex">
                                <input type="number" class="form-control input-default mr-2"
                                    placeholder="Price"><input type="number" class="form-control input-default ml-2"
                                    placeholder="Quantity">
                            </div>

                            <div class="form-group">
                                <select class="w-50" style="height: 40px;">
                                    <option value="">Củ</option>
                                    <option value="">Quả</option>
                                    <option value="">Hạt</option>
                                    <option value="">cây</option>
                                    <option value="">Củ</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                                <img src="images/paypal.png" alt="Hình Ảnh" class="img-fluid">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h3 class="text-center p-4">DESCRIPTION</h3>
                        <div class="card-body">
                            <div class="click2edit m-b-40">Click on Edite button and change the text then save it.</div>
                            <button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</button>
                            <button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-danger px-5">Create / Update</button>
        </div>  
        <!-- #/ container -->
    </div>
</body>
</html>