<div class="row page-titles mx-0">
	<div class="col p-md-0">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
			<li class="breadcrumb-item active"><a href="javascript:void(0)">Order</a></li>
		</ol>
	</div>
</div>
<!-- row -->
<div class="container-fluid mt-3">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Order List</h4>
				<div class="table-responsive">
					<table class="table header-border zero-configuration">
						<thead>
							<tr class="text-center">
								<th scope="col">No.</th>
								<th scope="col">Name</th>
								<th scope="col">Date</th>
								<th scope="col">SubTotal</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" ng-repeat="item in pager.items">
								<th scope="row">{{$index + 1}}</th>
								<td>{{item.user.firstname}}</td>
								<td>{{item.orderdate | date:'dd-MM-yyyy'}}</td>
								<td>{{calculateTotal(item)}}</td>
								<td ng-class="{
							        'bg-primary': item.statusOrder.statusorderid === 1,
							        'bg-warning': item.statusOrder.statusorderid === 2,
							        'bg-success': item.statusOrder.statusorderid === 3,
							        'bg-danger': item.statusOrder.statusorderid === 4
   									 }">{{item.statusOrder.name}}</td>
								<td class="text-center">
									<a type="button" ng-click="edit(item)" data-toggle="modal"
										data-target="#exampleModal">
										<i class="bi bi-info-circle"></i>
									</a>
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-xl">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">
														Order Detail {{form.orderdate | date:'dd-MM-yyyy'}} -
														#{{form.orderid}} -
														{{form.user.firstname}}
													</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body pb-5">
													<div class="table-responsive">
														<table class="table header-border">
															<thead>
																<tr>
																	<th scope="col">#</th>
																	<th scope="col">Name</th>
																	<th scope="col">Category</th>
																	<th scope="col">Quantity (KG)</th>
																	<th scope="col">Total</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="orderDetail in form.orderDetail">
																	<th scope="row">{{$index + 1}}</th>
																	<td>{{orderDetail.product.productname}}</td>
																	<td>{{orderDetail.product.category.categoryname}}
																	</td>
																	<td>{{orderDetail.quantityordered}}</td>
																	<td>{{orderDetail.totalprice}}</td>
																</tr>
															</tbody>

														</table>
													</div>
												</div>
												<div class="modal-order">
													<select class="form-select w-auto select"
														ng-model="form.statusOrder.statusorderid">
														<option ng-repeat="c in cates" ng-value="c.statusorderid">
															{{c.name}}
														</option>
													</select>
													<h4 class="total fs-4">
														SubTotal: <strong>{{calculateTotal(form)}}</strong>
													</h4>
													<div ng-click="update()" class="btn">Save</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>