<div class="card">
	<div class="card-body">
		<h2 class="card">Danh sách đơn hàng</h2>
		<div class="row py-3">
			<div class="col-md-6 input-group icons">


				<div>
					<input type="datetime-local" id="startDateTime"
								style="height: 45px;"> <span style="margin: 0 15px;">Đến</span>
							<input type="datetime-local" id="endDateTime" 
								style="height: 45px;">
							<button class="btn btn-primary"
								>Lọc</button>
							<button class="btn btn-secondary" >Xóa
								bộ lọc</button>
				</div>
			</div>
			<div class="col-md-3 input-group icons"></div>
			<div class="col-md-3 text-right"></div>
		</div>
		<div id="orderList"></div>
		<div class="table-responsive">
			<table class="table header-border zero-configuration">
				<thead>
					<tr class="text-center">
						<th scope="col">STT</th>
						<th scope="col">Người mua</th>
						<th scope="col">Ngày tạo</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" ng-repeat="item in items">
						<th scope="row">{{$index + 1}}</th>
						<td>{{item.user.firstname}}</td>
						<td>{{item.orderdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


















<div class="container-fluid mt-3">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card">Danh sách đơn hàng</h2>
				<div class="row py-3">
					<div class="col-md-7 input-group icons">


						<div>
							<!-- 						datetime-local -->
							<input type="date" id="startDateTime" ng-model="startDateTime"
								style="height: 45px;"> <span style="margin: 0 15px;">Đến</span>
							<input type="date" id="endDateTime" ng-model="endDateTime"
								style="height: 45px;">
							<button class="btn btn-primary"
								ng-click="filterOrdersByDateRange()">Lọc</button>
							<button class="btn btn-secondary" ng-click="resetDateFilters()">Xóa
								bộ lọc</button>
						</div>
					</div>
					<div class="col-md-2 input-group icons">
						<select class="select" style="width: 200px;"
							ng-model="selectedStatus">
							<option value="1">Chờ xác nhận</option>
							<option value="2">Đang giao</option>
							<option value="3">Giao hàng thành công</option>
							<option value="4">Đã hủy</option>
						</select>
					</div>
					<div class="col-md-3 text-right">
						
					</div>
				</div>
				<div id="orderList"></div>
				<div class="table-responsive">
					<table class="table header-border zero-configuration">
						<thead>
							<tr class="text-center">
								<th scope="col">STT</th>
								<th scope="col">Người mua</th>
								<th scope="col">Ngày tạo</th>
								<th scope="col">Tổng</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Xem</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" ng-repeat="item in items"
								ng-if="selectedStatus == item.statusOrder.statusorderid || selectedStatus == '0'">
								<th scope="row">{{$index + 1}}</th>
								<td>{{item.user.firstname}}</td>
								<!-- 								<td>{{item.orderdate | date:'dd-MM-yyyy HH:mm a'}}</td> -->
								<td>{{item.orderdate | date:'dd-MM-yyyy'}}</td>
							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

