<!DOCTYPE html>
<html
  xmlns="http://www.thymeleaf.org"
  th:replace="~{/layout/layout::dynamic(~{::body})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>GreenFarm</title>
    
  </head>

  <body>
    <div class="container-fluid shop-detail ">
      <div class="pt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cà chua</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/images/cà chua.jpg"
              alt="Cà chua"
            />
          </div>
          <div class="col-lg-6">
            <div class="text-left mb-3 pb-3">
              <h3 class="text-uppercase mt-3">Cà không chua</h3>
              <h2
                class="mb-3"
                style="font-weight: 300; color: #80bb01; font-size: 28px"
              >
                <span style="color: #999; text-decoration: line-through"
                  >12,000</span
                >
                <span>10,000</span>
              </h2>
              <p class="product-description mb-3">
                Cà chua thuộc họ Cà, các loại cây trong họ này thường phát triển
                từ 1 đến 3 mét chiều cao, có những cây thân mềm bò trên mặt đất
                hoặc dây leo trên thân cây khác, ví dụ nho. Họ cây này là một
                loại cây lâu năm trong môi trường sống bản địa của nó, nhưng nay
                nó được trồng như một loại cây hàng năm ở các vùng khí hậu ôn
                đới và nhiệt đới.
              </p>
              <div class="cart-button mt-5 mb-5 d-flex">
                <div class="pro-qty mr-3 mb-xs-3 d-flex">
                  <input type="text" value="1" class="pr-3" />
                  <div class="d-inline-block">
                    <a href="#" class="inc qty-btn">+</a>
                    <a href="#" class="dec qty-btn">-</a>
                  </div>
                </div>
                <div class="add-to-cart-btn">
                  <a href="#">
                    <i class="bi bi-cart-check"></i>
                    Add to cart
                  </a>
                </div>
              </div>
              <div class="categories d-flex">
                <h5>
                  CATEGORIES: <span><a href="">Củ</a>, <a href="">Quả</a></span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
